
// offset back button so line is to the top
.checkout-back {
	background:$offwhite;
	position:relative;
	z-index:1;
	@include media-breakpoint-up(lg) {
		background: transparent;
	}
}
.the-checkout {
	@include media-breakpoint-up(lg) {
		margin-top:-71px;
		.col-md-8 {
			padding-top:71px;
		}
	}
}
// Force visible on lg desktop
.checkout-actions {
	#checkout-cart {
		@include media-breakpoint-up(lg) {
			-webkit-backface-visibility: visible;
			backface-visibility: visible;
			visibility: visible;
			height: auto;
			max-height: initial;
			display: block;
		}
	}
}