.product-details {

	.product-title {
		position: relative;
		padding-right:60px;
		.guarantee {
			position: absolute;
			width:50px;
			height:50px;
			top:20px;
			right:0;
			svg {
				width:50px;
				height:50px;
			}
		}
		@include media-breakpoint-up(md) {
			padding-right:115px;
			.guarantee {
				top:0;
				width:100px;
				height:100px;
				svg {
					width:100px;
					height:100px;
				}
			}
		}
		.save {
			border:1px solid $grey;
			border-radius:100px;
			width:40px;
			height:40px;
			display:inline-flex;
			align-items: center;
			justify-content: center;
			margin-left:5px;
			position: relative;
			top:-2px;
			.icon {
				width:20px;
				height:20px;
			}
			@include media-breakpoint-up(md) {
				width:60px;
				height:60px;
				margin-left:10px;
				.icon {
					width:28px;
					height:28px;
				}
			}
		}
	}

	.product-actions {
		.btn {
			width:100%;
			min-width:100px;
			// min-width:200px;
			// @include media-breakpoint-down(md) {
			// 	width:100%;
			// }
		}
		@include media-breakpoint-up(xl) {
			.col-md-6 {max-width:300px;}
		}
	}
	// <h1>Knight Tile {{> icon class="icon icon-40 fc-primary ml-10" icon="heart-outline"}}</h1>
	// <h2 class="fc-category">KP132 Washed Scandi Pine</h2>
	// <div class="guarantee"></div>

	.dropdown-menu {
		border: 1px solid $grey;
		border-top:0;
		background: $white;
		li {
			border-top:1px solid $grey;
			&:first-child {
				border-top:0;
			}
		}
		.dropdown-item {
			padding:0 15px;
			display:flex;
			align-items:center;
			min-height:50px;
			color:$black;
			strong, span {
				padding-top:3px;
			}
		}
	}
}

.commercial-link {
	@include media-breakpoint-up(md) {
		border-left: 1px solid $grey;
	}
}

.tabs-horizontal[role=tablist]{
	.content[aria-hidden="false"] {
		height:auto;
	}
	ul {
		li {
				margin-bottom:3px;
				border-right-width: 0;
				border-left-width: 4px;
			
			&[aria-expanded="true"] {
				border-color:$primary;
				background:$black;
				color:$white;
			}
		}
	}
	.trigger {
		&.hidden-md-up {
			background:$black;
			margin-bottom:3px;
			color:white;
			padding:0 15px 0 15px;
			min-height:50px;
			align-items: center;
		}
		.minus {display:block;}
		.minus {display:none;}
		&[aria-expanded="true"] {
			.plus { display:none;}
			.minus{ display:block;}
		}
	}
	@include media-breakpoint-up(md) {
		ul {
			li {
					margin-bottom:0px;
					border-left: 5px solid transparent;
					background:$offwhite;
					margin-bottom:3px;
					cursor: pointer;
				
				&[aria-expanded="true"] {
					border-left: 5px solid $primary;
					background:#E4E4E4;
					color:$black;
				}
			}
		}
		

	}
}
