/*------------------------------------------------------------------

    [Roy&Co Static Website Builder]

    Lets keep our CSS neat & tidy
        - four (4) space indents, no tabs
        - 80 character wide columns

    Meaningful Whitespace
        - One (1) empty line between closely related rulesets.
        - Two (2) empty lines between loosely related rulesets.
        - Five (5) empty lines between entirely new sections.

    Sass Architecture Structure Rules:
    https://gist.github.com/AdamMarsden/7b85e8d5bdb5bef969a0

    CSS Declaration order:
    https://gist.github.com/AdamMarsden/fd9ec5f21016328cb6fe

-------------------------------------------------------------------*/
/**
 * CONTENTS
 *
 * SASS-UTILS/
 *     COLOR.SCSS
 *     Colors....................Colors used through-out the site.
 *
 *     MIXINS.SCSS
 *     Mixins....................Helpful Mixins.
 *
 * VENDORS/
 *     VENDORS.SCSS
 *     Placeholder..........Remove when needed.
 *
 * BASE/
 *     TYPE.SCSS
 *     Type Defaults.............Which font to use.
 *     Font Sizes................Font size settings.
 *     Links.....................Link settings.
 *     Text align................Which way to align text.
 *
 * LAYOUT/
 *     GRID.SCSS
 *     Responsive Classes........All classes needed for responsive layout.
 *     
 *     FORMS.SCSS
 *     Form Settings.............Settings to style forms.
 *
 * COMPONENTS/
 *     COMPONENTS.SCSS
 *     Placeholder..........Remove when needed.
 *
 * PAGES/
 *     PAGES.SCSS
 *     Placeholder..........Remove when needed.
 *
 */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    #Color
\*------------------------------------*/
/*------------------------------------*\
    #Mixins
\*------------------------------------*/
/*------------------------------------*\
    #Vendors
\*------------------------------------*/
/*------------------------------------*\
    #Type styles
\*------------------------------------*/
/* line 20, ../sass/base/_type.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 29, ../sass/base/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 30, ../sass/base/_type.scss */
h1 {
  font-size: 2.2em;
}

/* line 31, ../sass/base/_type.scss */
h2 {
  font-size: 2em;
}

/* line 32, ../sass/base/_type.scss */
h3 {
  font-size: 1.8em;
}

/* line 33, ../sass/base/_type.scss */
h4 {
  font-size: 1.6em;
}

/* line 34, ../sass/base/_type.scss */
h5 {
  font-size: 1.4em;
}

/* line 35, ../sass/base/_type.scss */
h6 {
  font-size: 1.2em;
}

/* line 39, ../sass/base/_type.scss */
p {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 44, ../sass/base/_type.scss */
.light {
  font-weight: 300;
}

/* line 45, ../sass/base/_type.scss */
.normal {
  font-family: 400;
}

/* line 46, ../sass/base/_type.scss */
.strong {
  font-weight: 600;
}

/* line 50, ../sass/base/_type.scss */
a {
  text-decoration: none;
}

/* line 60, ../sass/base/_type.scss */
.text-center {
  text-align: center;
}

/* line 61, ../sass/base/_type.scss */
.text-left {
  text-align: left;
}

/* line 62, ../sass/base/_type.scss */
.text-right {
  text-align: right;
}

/*------------------------------------*\
    #Grid System & Layout
\*------------------------------------*/
/* line 16, ../sass/layout/_grid.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
}

/* line 24, ../sass/layout/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1120px;
}

/* line 32, ../sass/layout/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 8, ../sass/sass-utils/_mixins.scss */
section, .clearfix, .container, .row {
  *zoom: 1;
}
/* line 12, ../sass/sass-utils/_mixins.scss */
section:before, section:after, .clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  content: "";
  display: table;
}
/* line 17, ../sass/sass-utils/_mixins.scss */
section:after, .clearfix:after, .container:after, .row:after {
  clear: both;
}

/* line 183, ../sass/sass-utils/_mixins.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 199, ../sass/sass-utils/_mixins.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20 {
  float: left;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-1 {
  width: 5%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-2 {
  width: 10%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-3 {
  width: 15%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-4 {
  width: 20%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-5 {
  width: 25%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-6 {
  width: 30%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-7 {
  width: 35%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-8 {
  width: 40%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-9 {
  width: 45%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-10 {
  width: 50%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-11 {
  width: 55.0%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-12 {
  width: 60%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-13 {
  width: 65%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-14 {
  width: 70%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-15 {
  width: 75%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-16 {
  width: 80%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-17 {
  width: 85%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-18 {
  width: 90%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-19 {
  width: 95%;
}

/* line 207, ../sass/sass-utils/_mixins.scss */
.col-xs-20 {
  width: 100%;
}

/* line 227, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-1 {
  right: 5%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-2 {
  right: 10%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-3 {
  right: 15%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-4 {
  right: 20%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-5 {
  right: 25%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-6 {
  right: 30%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-7 {
  right: 35%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-8 {
  right: 40%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-9 {
  right: 45%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-10 {
  right: 50%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-11 {
  right: 55.0%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-12 {
  right: 60%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-13 {
  right: 65%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-14 {
  right: 70%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-15 {
  right: 75%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-16 {
  right: 80%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-17 {
  right: 85%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-18 {
  right: 90%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-19 {
  right: 95%;
}

/* line 222, ../sass/sass-utils/_mixins.scss */
.col-xs-pull-20 {
  right: 100%;
}

/* line 217, ../sass/sass-utils/_mixins.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-1 {
  left: 5%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-2 {
  left: 10%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-3 {
  left: 15%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-4 {
  left: 20%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-5 {
  left: 25%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-6 {
  left: 30%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-7 {
  left: 35%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-8 {
  left: 40%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-9 {
  left: 45%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-10 {
  left: 50%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-11 {
  left: 55.0%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-12 {
  left: 60%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-13 {
  left: 65%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-14 {
  left: 70%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-15 {
  left: 75%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-16 {
  left: 80%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-17 {
  left: 85%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-18 {
  left: 90%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-19 {
  left: 95%;
}

/* line 212, ../sass/sass-utils/_mixins.scss */
.col-xs-push-20 {
  left: 100%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-1 {
  margin-left: 5%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-2 {
  margin-left: 10%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-3 {
  margin-left: 15%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-4 {
  margin-left: 20%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-5 {
  margin-left: 25%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-6 {
  margin-left: 30%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-7 {
  margin-left: 35%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-8 {
  margin-left: 40%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-9 {
  margin-left: 45%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-10 {
  margin-left: 50%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-11 {
  margin-left: 55.0%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-12 {
  margin-left: 60%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-13 {
  margin-left: 65%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-14 {
  margin-left: 70%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-15 {
  margin-left: 75%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-16 {
  margin-left: 80%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-17 {
  margin-left: 85%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-18 {
  margin-left: 90%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-19 {
  margin-left: 95%;
}

/* line 232, ../sass/sass-utils/_mixins.scss */
.col-xs-offset-20 {
  margin-left: 100%;
}

@media (min-width: 520px) {
  /* line 199, ../sass/sass-utils/_mixins.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20 {
    float: left;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-1 {
    width: 5%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-2 {
    width: 10%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-3 {
    width: 15%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-4 {
    width: 20%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-5 {
    width: 25%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-6 {
    width: 30%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-7 {
    width: 35%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-8 {
    width: 40%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-9 {
    width: 45%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-10 {
    width: 50%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-11 {
    width: 55.0%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-12 {
    width: 60%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-13 {
    width: 65%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-14 {
    width: 70%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-15 {
    width: 75%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-16 {
    width: 80%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-17 {
    width: 85%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-18 {
    width: 90%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-19 {
    width: 95%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-sm-20 {
    width: 100%;
  }

  /* line 227, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-1 {
    right: 5%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-2 {
    right: 10%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-3 {
    right: 15%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-4 {
    right: 20%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-5 {
    right: 25%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-6 {
    right: 30%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-7 {
    right: 35%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-8 {
    right: 40%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-9 {
    right: 45%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-10 {
    right: 50%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-11 {
    right: 55.0%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-12 {
    right: 60%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-13 {
    right: 65%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-14 {
    right: 70%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-15 {
    right: 75%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-16 {
    right: 80%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-17 {
    right: 85%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-18 {
    right: 90%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-19 {
    right: 95%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-sm-pull-20 {
    right: 100%;
  }

  /* line 217, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-1 {
    left: 5%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-2 {
    left: 10%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-3 {
    left: 15%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-4 {
    left: 20%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-5 {
    left: 25%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-6 {
    left: 30%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-7 {
    left: 35%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-8 {
    left: 40%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-9 {
    left: 45%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-10 {
    left: 50%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-11 {
    left: 55.0%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-12 {
    left: 60%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-13 {
    left: 65%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-14 {
    left: 70%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-15 {
    left: 75%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-16 {
    left: 80%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-17 {
    left: 85%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-18 {
    left: 90%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-19 {
    left: 95%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-sm-push-20 {
    left: 100%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-1 {
    margin-left: 5%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-2 {
    margin-left: 10%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-3 {
    margin-left: 15%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-4 {
    margin-left: 20%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-5 {
    margin-left: 25%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-6 {
    margin-left: 30%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-7 {
    margin-left: 35%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-8 {
    margin-left: 40%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-9 {
    margin-left: 45%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-10 {
    margin-left: 50%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-11 {
    margin-left: 55.0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-12 {
    margin-left: 60%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-13 {
    margin-left: 65%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-14 {
    margin-left: 70%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-15 {
    margin-left: 75%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-16 {
    margin-left: 80%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-17 {
    margin-left: 85%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-18 {
    margin-left: 90%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-19 {
    margin-left: 95%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-sm-offset-20 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  /* line 199, ../sass/sass-utils/_mixins.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20 {
    float: left;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-1 {
    width: 5%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-2 {
    width: 10%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-3 {
    width: 15%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-4 {
    width: 20%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-5 {
    width: 25%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-6 {
    width: 30%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-7 {
    width: 35%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-8 {
    width: 40%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-9 {
    width: 45%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-10 {
    width: 50%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-11 {
    width: 55.0%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-12 {
    width: 60%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-13 {
    width: 65%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-14 {
    width: 70%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-15 {
    width: 75%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-16 {
    width: 80%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-17 {
    width: 85%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-18 {
    width: 90%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-19 {
    width: 95%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-md-20 {
    width: 100%;
  }

  /* line 227, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-1 {
    right: 5%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-2 {
    right: 10%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-3 {
    right: 15%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-4 {
    right: 20%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-5 {
    right: 25%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-6 {
    right: 30%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-7 {
    right: 35%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-8 {
    right: 40%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-9 {
    right: 45%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-10 {
    right: 50%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-11 {
    right: 55.0%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-12 {
    right: 60%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-13 {
    right: 65%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-14 {
    right: 70%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-15 {
    right: 75%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-16 {
    right: 80%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-17 {
    right: 85%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-18 {
    right: 90%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-19 {
    right: 95%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-md-pull-20 {
    right: 100%;
  }

  /* line 217, ../sass/sass-utils/_mixins.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-1 {
    left: 5%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-2 {
    left: 10%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-3 {
    left: 15%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-4 {
    left: 20%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-5 {
    left: 25%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-6 {
    left: 30%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-7 {
    left: 35%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-8 {
    left: 40%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-9 {
    left: 45%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-10 {
    left: 50%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-11 {
    left: 55.0%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-12 {
    left: 60%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-13 {
    left: 65%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-14 {
    left: 70%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-15 {
    left: 75%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-16 {
    left: 80%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-17 {
    left: 85%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-18 {
    left: 90%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-19 {
    left: 95%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-md-push-20 {
    left: 100%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-1 {
    margin-left: 5%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-2 {
    margin-left: 10%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-3 {
    margin-left: 15%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-4 {
    margin-left: 20%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-5 {
    margin-left: 25%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-6 {
    margin-left: 30%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-7 {
    margin-left: 35%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-8 {
    margin-left: 40%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-9 {
    margin-left: 45%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-10 {
    margin-left: 50%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-11 {
    margin-left: 55.0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-12 {
    margin-left: 60%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-13 {
    margin-left: 65%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-14 {
    margin-left: 70%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-15 {
    margin-left: 75%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-16 {
    margin-left: 80%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-17 {
    margin-left: 85%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-18 {
    margin-left: 90%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-19 {
    margin-left: 95%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-md-offset-20 {
    margin-left: 100%;
  }
}
@media (min-width: 930px) {
  /* line 199, ../sass/sass-utils/_mixins.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20 {
    float: left;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-1 {
    width: 5%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-2 {
    width: 10%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-3 {
    width: 15%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-4 {
    width: 20%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-5 {
    width: 25%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-6 {
    width: 30%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-7 {
    width: 35%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-8 {
    width: 40%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-9 {
    width: 45%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-10 {
    width: 50%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-11 {
    width: 55.0%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-12 {
    width: 60%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-13 {
    width: 65%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-14 {
    width: 70%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-15 {
    width: 75%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-16 {
    width: 80%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-17 {
    width: 85%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-18 {
    width: 90%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-19 {
    width: 95%;
  }

  /* line 207, ../sass/sass-utils/_mixins.scss */
  .col-lg-20 {
    width: 100%;
  }

  /* line 227, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-1 {
    right: 5%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-2 {
    right: 10%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-3 {
    right: 15%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-4 {
    right: 20%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-5 {
    right: 25%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-6 {
    right: 30%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-7 {
    right: 35%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-8 {
    right: 40%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-9 {
    right: 45%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-10 {
    right: 50%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-11 {
    right: 55.0%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-12 {
    right: 60%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-13 {
    right: 65%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-14 {
    right: 70%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-15 {
    right: 75%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-16 {
    right: 80%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-17 {
    right: 85%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-18 {
    right: 90%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-19 {
    right: 95%;
  }

  /* line 222, ../sass/sass-utils/_mixins.scss */
  .col-lg-pull-20 {
    right: 100%;
  }

  /* line 217, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-1 {
    left: 5%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-2 {
    left: 10%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-3 {
    left: 15%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-4 {
    left: 20%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-5 {
    left: 25%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-6 {
    left: 30%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-7 {
    left: 35%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-8 {
    left: 40%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-9 {
    left: 45%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-10 {
    left: 50%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-11 {
    left: 55.0%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-12 {
    left: 60%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-13 {
    left: 65%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-14 {
    left: 70%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-15 {
    left: 75%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-16 {
    left: 80%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-17 {
    left: 85%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-18 {
    left: 90%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-19 {
    left: 95%;
  }

  /* line 212, ../sass/sass-utils/_mixins.scss */
  .col-lg-push-20 {
    left: 100%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-1 {
    margin-left: 5%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-2 {
    margin-left: 10%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-3 {
    margin-left: 15%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-4 {
    margin-left: 20%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-5 {
    margin-left: 25%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-6 {
    margin-left: 30%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-7 {
    margin-left: 35%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-8 {
    margin-left: 40%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-9 {
    margin-left: 45%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-10 {
    margin-left: 50%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-11 {
    margin-left: 55.0%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-12 {
    margin-left: 60%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-13 {
    margin-left: 65%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-14 {
    margin-left: 70%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-15 {
    margin-left: 75%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-16 {
    margin-left: 80%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-17 {
    margin-left: 85%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-18 {
    margin-left: 90%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-19 {
    margin-left: 95%;
  }

  /* line 232, ../sass/sass-utils/_mixins.scss */
  .col-lg-offset-20 {
    margin-left: 100%;
  }
}
/* line 62, ../sass/layout/_grid.scss */
.col-no-pad {
  padding-left: 0;
  padding-right: 0;
}

/*------------------------------------*\
    #Forms
\*------------------------------------*/
/* FormHack v1.0.0 (formhack.io) */
/* Global Reset Styles ------------------ */
/* line 70, ../sass/layout/_forms.scss */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #282828;
  vertical-align: top;
  display: block;
  margin: 10px 0;
}

/* line 84, ../sass/layout/_forms.scss */
datalist {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* line 89, ../sass/layout/_forms.scss */
label {
  display: block;
  margin: 10px 0;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
/* line 115, ../sass/layout/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

/* Fields with standard height */
/* line 141, ../sass/layout/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 40px;
  -webkit-appearance: none;
}

/* Other */
/* line 148, ../sass/layout/_forms.scss */
textarea {
  -webkit-appearance: none;
  overflow: auto;
}

/* line 153, ../sass/layout/_forms.scss */
input[type="range"] {
  height: 40px;
  width: 100%;
  max-width: 400px;
}

/* line 159, ../sass/layout/_forms.scss */
input[type="file"] {
  min-height: 40px;
}

/* line 163, ../sass/layout/_forms.scss */
input[type="search"] {
  height: 40px;
  -webkit-appearance: none;
}

/* line 168, ../sass/layout/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 173, ../sass/layout/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

/* Select ------------------ */
/* line 186, ../sass/layout/_forms.scss */
select {
  height: 40px;
}

/* line 197, ../sass/layout/_forms.scss */
select[multiple] {
  height: auto;
  min-height: 40px;
  padding: 0;
}
/* line 202, ../sass/layout/_forms.scss */
select[multiple] option {
  margin: 0;
  padding: 8px;
}

/* Fieldset ------------------ */
/* line 210, ../sass/layout/_forms.scss */
fieldset {
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

/* line 224, ../sass/layout/_forms.scss */
legend {
  padding: 0 5px;
  font-weight: 700;
}

/* Buttons, Input Type Submit/Reset ------------------ */
/* line 241, ../sass/layout/_forms.scss */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 40px;
  width: 100%;
  max-width: 200px;
  background-color: gainsboro;
  padding: 8px;
  cursor: pointer;
  color: #282828;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

/* line 261, ../sass/layout/_forms.scss */
input[type="image"] {
  text-align: center;
  padding: 8px;
}

/* States ------------------ */
/* line 272, ../sass/layout/_forms.scss */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

/* line 280, ../sass/layout/_forms.scss */
input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: gainsboro;
  border-color: #c8c8c8;
}

/* line 286, ../sass/layout/_forms.scss */
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #c8c8c8 solid 2px;
}

/* line 297, ../sass/layout/_forms.scss */
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #c8c8c8;
  color: #282828;
}

/*------------------------------------*\
    #Components will go in this folder
\*------------------------------------*/
/*------------------------------------*\
    #Pages
\*------------------------------------*/
