/*------------------------------------------------------------------

    [Roy&Co Static Website Builder]

    Lets keep our CSS neat & tidy
        - four (4) space indents, no tabs
        - 80 character wide columns

    Meaningful Whitespace
        - One (1) empty line between closely related rulesets.
        - Two (2) empty lines between loosely related rulesets.
        - Five (5) empty lines between entirely new sections.

    Sass Architecture Structure Rules:
    https://gist.github.com/AdamMarsden/7b85e8d5bdb5bef969a0

    CSS Declaration order:
    https://gist.github.com/AdamMarsden/fd9ec5f21016328cb6fe

-------------------------------------------------------------------*/
/**
 * CONTENTS
 *
 * SASS-UTILS/
 *     COLOR.SCSS
 *     Colors....................Colors used through-out the site.
 *     MIXINS.SCSS
 *     Mixins....................Helpful Mixins.
 *
 * VENDORS/
 *     VENDORS.SCSS
 *     Placeholder..........Remove when needed
 *
 * BASE/
 *     TYPE.SCSS
 *     Type Defaults.............Which font to use.
 *     Font Sizes................Font size settings.
 *     Links.....................Link settings.
 *     Text align................Which way to align text.
 *
 * LAYOUT/
 *     GRID.SCSS
 *     Responsive Classes........All classes needed for responsive layout.
 *
 * COMPONENTS/
 *     COMPONENTS.SCSS
 *     Placeholder..........Remove when needed
 *
 * PAGES/
 *     PAGES.SCSS
 *     Placeholder..........Remove when needed
 *
 */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    #Color
\*------------------------------------*/
/*------------------------------------*\
    #Mixins
\*------------------------------------*/
/*------------------------------------*\
    #Vendors
\*------------------------------------*/
/*------------------------------------*\
    #Type styles
\*------------------------------------*/
/* line 20, ../sass/base/_type.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 29, ../sass/base/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 30, ../sass/base/_type.scss */
h1 {
  font-size: 2.2em;
}

/* line 31, ../sass/base/_type.scss */
h2 {
  font-size: 2em;
}

/* line 32, ../sass/base/_type.scss */
h3 {
  font-size: 1.8em;
}

/* line 33, ../sass/base/_type.scss */
h4 {
  font-size: 1.6em;
}

/* line 34, ../sass/base/_type.scss */
h5 {
  font-size: 1.4em;
}

/* line 35, ../sass/base/_type.scss */
h6 {
  font-size: 1.2em;
}

/* line 39, ../sass/base/_type.scss */
p {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 44, ../sass/base/_type.scss */
.light {
  font-weight: 300;
}

/* line 45, ../sass/base/_type.scss */
.normal {
  font-family: 400;
}

/* line 46, ../sass/base/_type.scss */
.strong {
  font-weight: 600;
}

/* line 50, ../sass/base/_type.scss */
a {
  text-decoration: none;
}

/* line 60, ../sass/base/_type.scss */
.text-center {
  text-align: center;
}

/* line 61, ../sass/base/_type.scss */
.text-left {
  text-align: left;
}

/* line 62, ../sass/base/_type.scss */
.text-right {
  text-align: right;
}

/*------------------------------------*\
    #Grid System & Layout
\*------------------------------------*/
@viewport {
  width: device-width;
}
/* line 15, ../sass/layout/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1120px;
}

/* line 23, ../sass/layout/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 30, ../sass/layout/_grid.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://wiltshire.website.dev/css/hacks/boxsizing.htc);
}

/* line 8, ../sass/sass-utils/_mixins.scss */
section, .clearfix, .container, .row {
  *zoom: 1;
}
/* line 12, ../sass/sass-utils/_mixins.scss */
section:before, section:after, .clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  content: "";
  display: table;
}
/* line 17, ../sass/sass-utils/_mixins.scss */
section:after, .clearfix:after, .container:after, .row:after {
  clear: both;
}

/* line 43, ../sass/layout/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* line 58, ../sass/layout/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
.col-xs-9, .col-xs-10, .col-xs-11 {
  float: left;
}

/* line 61, ../sass/layout/_grid.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 62, ../sass/layout/_grid.scss */
.col-xs-2 {
  width: 16.666666666666664%;
}

/* line 63, ../sass/layout/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 64, ../sass/layout/_grid.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 65, ../sass/layout/_grid.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 66, ../sass/layout/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 67, ../sass/layout/_grid.scss */
.col-xs-7 {
  width: 58.333333333333336%;
}

/* line 68, ../sass/layout/_grid.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 69, ../sass/layout/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 70, ../sass/layout/_grid.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 71, ../sass/layout/_grid.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 72, ../sass/layout/_grid.scss */
.col-xs-12 {
  width: 100%;
}

@media (min-width: 520px) {
  /* line 79, ../sass/layout/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
  .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
  }

  /* line 82, ../sass/layout/_grid.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 83, ../sass/layout/_grid.scss */
  .col-sm-2 {
    width: 16.666666666666664%;
  }

  /* line 84, ../sass/layout/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 85, ../sass/layout/_grid.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 86, ../sass/layout/_grid.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 87, ../sass/layout/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 88, ../sass/layout/_grid.scss */
  .col-sm-7 {
    width: 58.333333333333336%;
  }

  /* line 89, ../sass/layout/_grid.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 90, ../sass/layout/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 91, ../sass/layout/_grid.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 92, ../sass/layout/_grid.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 93, ../sass/layout/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 95, ../sass/layout/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 96, ../sass/layout/_grid.scss */
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }

  /* line 97, ../sass/layout/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 98, ../sass/layout/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 99, ../sass/layout/_grid.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 100, ../sass/layout/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 101, ../sass/layout/_grid.scss */
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }

  /* line 102, ../sass/layout/_grid.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 103, ../sass/layout/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 104, ../sass/layout/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 105, ../sass/layout/_grid.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 107, ../sass/layout/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 108, ../sass/layout/_grid.scss */
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 109, ../sass/layout/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 110, ../sass/layout/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 111, ../sass/layout/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 112, ../sass/layout/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 113, ../sass/layout/_grid.scss */
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 114, ../sass/layout/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 115, ../sass/layout/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 116, ../sass/layout/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 117, ../sass/layout/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 119, ../sass/layout/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 120, ../sass/layout/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 121, ../sass/layout/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 122, ../sass/layout/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 123, ../sass/layout/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 124, ../sass/layout/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 125, ../sass/layout/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 126, ../sass/layout/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 127, ../sass/layout/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 128, ../sass/layout/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 129, ../sass/layout/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  /* line 137, ../sass/layout/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
  .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
  }

  /* line 140, ../sass/layout/_grid.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 141, ../sass/layout/_grid.scss */
  .col-md-2 {
    width: 16.666666666666664%;
  }

  /* line 142, ../sass/layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 143, ../sass/layout/_grid.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 144, ../sass/layout/_grid.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 145, ../sass/layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 146, ../sass/layout/_grid.scss */
  .col-md-7 {
    width: 58.333333333333336%;
  }

  /* line 147, ../sass/layout/_grid.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 148, ../sass/layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 149, ../sass/layout/_grid.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 150, ../sass/layout/_grid.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 151, ../sass/layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 153, ../sass/layout/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 154, ../sass/layout/_grid.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 155, ../sass/layout/_grid.scss */
  .col-md-push-2 {
    left: 16.666666666666664%;
  }

  /* line 156, ../sass/layout/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 157, ../sass/layout/_grid.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 158, ../sass/layout/_grid.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 159, ../sass/layout/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 160, ../sass/layout/_grid.scss */
  .col-md-push-7 {
    left: 58.333333333333336%;
  }

  /* line 161, ../sass/layout/_grid.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 162, ../sass/layout/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 163, ../sass/layout/_grid.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 164, ../sass/layout/_grid.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 166, ../sass/layout/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 167, ../sass/layout/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 168, ../sass/layout/_grid.scss */
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 169, ../sass/layout/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 170, ../sass/layout/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 171, ../sass/layout/_grid.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 172, ../sass/layout/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 173, ../sass/layout/_grid.scss */
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 174, ../sass/layout/_grid.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 175, ../sass/layout/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 176, ../sass/layout/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 177, ../sass/layout/_grid.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 179, ../sass/layout/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }

  /* line 180, ../sass/layout/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 181, ../sass/layout/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 182, ../sass/layout/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 183, ../sass/layout/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 184, ../sass/layout/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 185, ../sass/layout/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 186, ../sass/layout/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 187, ../sass/layout/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 188, ../sass/layout/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 189, ../sass/layout/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 190, ../sass/layout/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
}
/*------------------------------------*\
    #Components will go in this folder
\*------------------------------------*/
/*------------------------------------*\
    #Pages
\*------------------------------------*/
