// ** Main Config

// Type
$bfont : helvetica, arial, sans-serif;
$hfont : helvetica, arial, sans-serif;

// iconfont 
$icons : iconfontname;

// Font Sizes
$sizebody : 100%;
$sizeh1 : 2.2em;
$sizeh2 : 2em;
$sizeh3 : 1.8em;
$sizeh4 : 1.6em;
$sizeh5 : 1.4em;
$sizeh6 : 1.2em;

// Color
$bodycolor : #333333;
$headingcolor : #000000;

// Layout & MQ's
$maxwidth : 1220px;
$tabletmq : 768px;
$desktopmq : 992px;
$lgdesktopmq : 1200px;

// Fixed width
$fixedwidth : 960px;

// ** Mixins
         
// Clearfix - Usage: @include clearfix();
@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Opacity - Usage: @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
// Example Function - Usage: .my-module {padding: my-calculation-function(10px, 5px);}
@function my-calculation-function($some-number, $another-number){
  @return $some-number + $another-number
}