// Grid System & Layout (mobile First)
// Containers
@viewport {width: device-width;}
.wrap {
	max-width: $fixedwidth;margin:0 auto;
}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 20px;padding-right: 20px;width: $maxwidth;}
.row {margin-left: -15px;margin-right: -15px;}
// Clearfix
section, .clearfix, .container, .row {@include clearfix();}

// Grid Defaults
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;}
// Desktop
//.container {max-width: 970px;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11 {float: left;}
.col-1 {width: 8.333333333333332%;}
.col-2 {width: 16.666666666666664%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333333333333%;}
.col-5 {width: 41.66666666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333333333336%;}
.col-8 {width: 66.66666666666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333333334%;}
.col-11 {width: 91.66666666666666%;}
.col-12 {width: 100%;}
// Desktop Push
.col-push-0 {left: auto;}
.col-push-1 {left: 8.333333333333332%;}
.col-push-2 {left: 16.666666666666664%;}
.col-push-3 {left: 25%;}
.col-push-4 {left: 33.33333333333333%;}
.col-push-5 {left: 41.66666666666667%;}
.col-push-6 {left: 50%;}
.col-push-7 {left: 58.333333333333336%;}
.col-push-8 {left: 66.66666666666666%;}
.col-push-9 {left: 75%;}
.col-push-10 {left: 83.33333333333334%;}
.col-push-11 {left: 91.66666666666666%;}
// Desktop Pull
.col-pull-0 {right: auto;}
.col-pull-1 {right: 8.333333333333332%;}
.col-pull-2 {right: 16.666666666666664%;}
.col-pull-3 {right: 25%;}
.col-pull-4 {right: 33.33333333333333%;}
.col-pull-5 {right: 41.66666666666667%;}
.col-pull-6 {right: 50%;}
.col-pull-7 {right: 58.333333333333336%;}
.col-pull-8 {right: 66.66666666666666%;}
.col-pull-9 {right: 75%;}
.col-pull-10 {right: 83.33333333333334%;}
.col-pull-11 {right: 91.66666666666666%;}
// Desktop Offset
.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.333333333333332%;}
.col-offset-2 {margin-left: 16.666666666666664%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33333333333333%;}
.col-offset-5 {margin-left: 41.66666666666667%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.333333333333336%;}
.col-offset-8 {margin-left: 66.66666666666666%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33333333333334%;}
.col-offset-11 {margin-left: 91.66666666666666%;}