// Sprites
@import "compass/utilities/sprites";
$icons-layout: smart;
$icons-2x-layout: smart;
$icons-sprite-dimensions: true;

@import "icons/*.png";
@import "icons-2x/*.png";

@include all-icons-sprites;
$sprite-path : '../img/';

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3) {
    .sprite {
        background-image: $icons-2x-sprites;
        background-size: image-width(sprite-path($icons-sprites)) image-height(sprite-path($icons-sprites));
    }
}