/////////////////////////////////////////////////////////
// Iconography                                         //
/////////////////////////////////////////////////////////

// Icon Defaults
//// Icons can be overidden with background colors: e.g .bg-primary
.icon {display: inline-block;background:$primary;}
.icon-block {display: block;}

// Icon sizes
$iconsizes: 16,24,32,40,44,50,60,70,80,100,126,150;
@each $iconsize in $iconsizes {
	.icon-#{$iconsize} {
		width: #{$iconsize}px;
		height: #{$iconsize}px;
	} 
}

/// List icons
$icons:
	sort,
	close,
	loading,
	date,
	star-active,
	divider,
	select-active,
	menu,
	heart,
	share,
	tag,
	warning,
	search,
	trash,
	checkmark,
	more-detail,
	info,
	copy,
	location,
	required,
	heart-solid,
	error,
	select,
	star-action,
	star-inactive
;
$socials:
	instagram,
	slack,
	googleplus,
	youtube,
	facebook,
	twitter,
	linkedin,
	dribbble
;
//// Generate icons
//// Uses CSS3 Masks, needs a fallback for IE+Edge
@each $icon in $icons {
	.icon-#{$icon} {
		-webkit-mask:  url(/img/icon/solid/#{$icon}.svg) 100% 100%/100% 100% no-repeat;
		mask: url(/img/icon/solid/#{$icon}.svg) 100% 100%/100% 100% no-repeat;
	}
}
@each $social in $socials {
	.icon-#{$social} {
		-webkit-mask: url(/img/icon/social/#{$social}.svg) 100% 100%/100% 100% no-repeat;
		mask: url(/img/icon/social/#{$social}.svg) 100% 100%/100% 100% no-repeat;
	}
}

@include media-breakpoint-up(md) {
	
}