/////////////////////////////////////////////////////////
// Iconography                                         //
/////////////////////////////////////////////////////////

// Setup
$iconsizes: 16,24,32,40,44,50,60,70,80,100,128,150!default;
$iconcolors: (
    black: $black,
	white: #ffffff
) !default;
$iconfoldersolid: "solid";
$iconfoldersocial: "social"; 



// Icon Defaults
.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}
.icon-block {display: block;}

// Rotate modifiers
.icon-rotate-90 {
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.icon-rotate-180 {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon-rotate-270 {
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}


// Generate Icon sizes
@each $iconsize in $iconsizes {
	.icon-#{$iconsize} {
		width: #{$iconsize}px;
		height: #{$iconsize}px;
		background-size: #{$iconsize}px #{$iconsize}px;
	} 
}

// Coloured icons
// @each $icon in svg-list($iconfoldersocial){
//     $data: inline-svg($icon);
//     .icon-#{$icon} {
//         background-image: $data;
//     }
// }
@each $icon in svg-list($iconfoldersolid){
    @each $name, $color in $iconcolors {
        $data: inline-svg($icon, $color);
        .icon-#{$icon}-#{$name} {
            background-image: $data;
        }
    }
}


@each $icon in svg-list($iconfoldersocial){
	@each $name, $color in $iconcolors {
		$data: inline-svg($icon, $color);
		.icon-#{$icon}-#{$name} {
			background-image: $data;
		}
	}
}

// Individual icon example:
.icon-heart-solid-blue {background-image: inline-svg("heart-solid", blue);}
.icon-heart-solid-pink {background-image: inline-svg("heart-solid", pink);}
.icon-heart-solid-yellow {background-image: inline-svg("heart-solid", yellow);}
.icon-heart-solid-orange {background-image: inline-svg("heart-solid", orange);}
.icon-heart-solid-red {background-image: inline-svg("heart-solid", red);}
.icon-heart-solid-purple {background-image: inline-svg("heart-solid", purple);}
