// Reboot - or reset as you know it!
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit; // 1
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport { width: device-width; }
}

// Body
body {margin: 0}

// Prevent an unwanted focus outline from appearing around elements that might still respond to pointer events.
[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

// Typography
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

// Abbreviations
abbr[title], abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin: 0;
  font-style: normal;
  line-height: inherit;
}

ol, ul, dl, ol ol, ul ul, ol ul, ul ol, dd, blockquote {margin: 0;}

dfn {font-style: italic;}

b, strong {font-weight: bolder;}

small {font-size: 80%;}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {bottom: -.25em;}
sup {top: -.5em;}

// Links
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

// Code
pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin: 0;
  overflow: auto;
}

// Figures
figure {
	margin: 0;
}

// Images and content
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

// Tables
table {
  border-collapse: collapse;
}
caption {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: left;
}

// Forms
label {
  display: inline-block;
  margin: 0;
}
button:focus {
  outline: none;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

// Prevent a WebKit bug where (2) destroys native `audio` and `video`
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  &:disabled {
    cursor: default;
  }
}

// Remove the default appearance of temporal inputs to avoid a Mobile Safari
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin:0;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Correct the inability to style clickable types in iOS and Safari & Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  font: inherit; // 2
  -webkit-appearance: button; // 1
}

// Correct element displays
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}

// Always hide an element with the `hidden` HTML attribute
[hidden] {
  display: none !important;
}
