/////////////////////////////////////////////////////////
// Typography                                          //
/////////////////////////////////////////////////////////

// Type Defaults
//// Base
$hfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$bfont: false !default;

// Disable RFS by setting $enable-responsive-font-sizes to false
$enable-responsive-font-sizes: true !default;
$fs-base-font-size: 16px !default;
$fs-font-size-unit: rem !default;
$line-height-base: 1.5!default;

// Breakpoint at where font-size starts decreasing if screen width is smaller
$fs-breakpoint: $lgdesktopmq !default;
$fs-breakpoint-unit: px !default;
// Resize font size based on screen height and width
$fs-two-dimensional: false !default;
// Factor of decrease
$fs-factor: 10 !default;
// Generate enable or disable classes. Possibilities: false, "enable" or "disable"
$fs-class: false !default;
// 1 rem = $fs-rem-value px
$fs-rem-value: 16 !default;

//// Font Sizes
$fs-1-desktop: 50px!default;
$fs-2-desktop: 36px!default;
$fs-3-desktop: 28px!default;
$fs-4-desktop: 24px!default;
$fs-5-desktop: 20px!default;
$fs-6-desktop: 18px!default;
$fs-7-desktop: 16px!default;
$fs-8-desktop: 14px!default;

body {
	// Awesome web fonts
	-moz-font-feature-settings: 'liga', 'kern';
	-moz-font-feature-settings: 'liga=1, kern=1';
	-ms-font-feature-settings: 'liga', 'kern';
	-o-font-feature-settings: 'liga', 'kern';
	-webkit-font-feature-settings: 'liga', 'kern';
	font-feature-settings: 'liga', 'kern';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-stretch: normal;
	// Defaults
	font-size: $fs-base-font-size;
	color: $bodycolor;
	@if $bfont {
		font-family: $bfont;
	} @else {
		font-family: $hfont;
	}
}

// Headings
//// Defaults
.heading {
	@if $bfont {
		font-family: $hfont;
	}
	font-weight: 300;
	color: $headingcolor;
	line-height: $line-height-base;
	strong {font-weight: 400;}
}
.body {
	@if $bfont {
		font-family: $bfont;
	}
	font-weight: 300;
	color: $bodycolor;
}
//// Mobile
h1, .fs-1 {
	@extend .heading;
	@include font-size($fs-1-desktop);
}
h2, .fs-2 {
	@extend .heading;
	@include font-size($fs-2-desktop, true);
}
h3, .fs-3 {
	@extend .heading;
	@include font-size($fs-3-desktop);
}
h4, .fs-4 {
	@extend .heading;
	@include font-size($fs-4-desktop);
}
h5, .fs-5  {
	@extend .heading;
	@include font-size($fs-5-desktop);
}
h6, p, .fs-6 {
	@extend .body;
	@include font-size($fs-6-desktop);
	line-height: 1.7;
}
label, input, .fs-7 {
	@extend .heading;
	@include font-size($fs-7-desktop);
	line-height: 30px;
}
small, .fs-8 {
	@extend .body;
	@include font-size($fs-8-desktop);
}


// Font weights
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-600, strong, b {font-weight: 600;}
.fw-800 {font-weight: 800;}


// Text modifiers
.text-lowercase {text-transform: lowercase !important;}
.text-uppercase {text-transform: uppercase !important;}
.text-capitalize {text-transform: capitalize !important;}
.text-italic {font-style: italic;}
.text-underline {text-decoration: underline;}


// Text Align
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.text#{$infix}-left   { text-align: left !important; }
		.text#{$infix}-right  { text-align: right !important; }
		.text#{$infix}-center { text-align: center !important; }
	}
}
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate; }


// Lists
ul, ol {list-style: none;padding:0;}


// Other helpers
.text-hide {
	@include text-hide();
}


// Breaks
hr {
	border:0;
	border-bottom:1px solid $line;
	height:1px;
	background:none;
}