// Typography

// Type Defaults
$hfont : "Helvetics",Arial,sans-serif;
$bfont : $hfont; //Body Fonts

html, body {}
body { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $bodycolor;
    font-family: $bfont;
}


// Headings
h1, h2, h3, h4, h5, h6 { font-family: $hfont; font-weight: 400; color: $headingcolor;}
h1, .text-alpha { font-size: 24px; line-height: 28px; margin:0 0 20px 0;}
h2, .text-bravo { font-size: 24px; line-height: 28px; margin:0 0 20px 0;}
h3, .text-charlie { font-size: 18px; line-height: 30px; margin:0 0 15px 0;}
h4, .text-delta { font-size: 24px; line-height: 28px; margin:0 0 15px 0;}
h5, .text-echo { font-size: 18px; line-height: 24px; margin:0 0 15px 0;}
h6, .text-foxtrot { font-size: 16px; line-height: 24px; margin:0;}

@media (min-width: $desktopmq) {
	h1, h2, h3, h4, h5, h6 {margin:0 0 20px 0;}
	h1, .text-alpha { font-size: 40px; line-height: 46px;}
	h2, .text-bravo { font-size: 40px; line-height: 46px;}
	h3, .text-charlie { font-size: 20px; line-height: 30px;}
	h4, .text-delta { font-size: 40px; line-height: 46px;}
	h5, .text-echo { font-size: 20px; line-height: 28px;}
	h6, .text-foxtrot { font-size: 20px; line-height: 22px;}
}

// Paragraphs
p {font-size: 16px;line-height: 24px;margin:0 0 15px 0;
    &.p-intro {font-size: 18px;line-height: 28px;}
    &.p-small {font-size: 14px;line-height: 20px;}
}
.text-small {font-size: 14px;line-height: 20px;}
@media (min-width: $desktopmq) {
	p {font-size: 16px;line-height: 24px;margin:0 0 20px 0;
	    &.p-intro {font-size: 20px;line-height: 32px;}
	    &.p-small {font-size: 14px;line-height: 20px;}
	}
}
	
.text-weight-300  { font-weight: 300; }
.text-weight-400 { font-family: 400; }
.text-weight-600, strong, b { font-weight: 600; }
.text-weight-800 { font-weight: 800; }
.text-uppercase {text-transform: uppercase;}
.text-italic {font-style: italic;}
.text-underline {text-decoration: underline;}


// Text Align
.text-center {text-align: center;}
.text-left   {text-align: left;}
.text-right  {text-align: right;}
//mobile only
.text-center-mobile {text-align: center;}
.text-left-mobile {text-align: left;}
.text-right-mobile {text-align: right;}

// Media query specific
@media (min-width: $desktopmq) {
	.text-center-mobile {text-align: left;}
	.text-left-mobile {text-align: left;}
	.text-right-mobile {text-align: left;}
	.text-right-desktop {text-align: right;}
	.text-left-desktop {text-align: left;}
	.text-center-desktop {text-align: center;}
	
}

// Images
img.responsive {width:100%;height:auto;max-width: 100%;}

// Lists
ul {list-style: none;margin:0;padding:0;}

// Other helpers
.hide-text {text-indent: -9999px;display: block;}
