<a href="#" class="project-link">
	<img 
		alt=""
		width="2560"

		src="/assets/static/mike-dorner-173502-unsplash.c0dad42.cd30488.jpg"
		
		data-src="/assets/static/mike-dorner-173502-unsplash.c0dad42.cd30488.jpg"
		data-srcset="/assets/static/mike-dorner-173502-unsplash.b6e36c6.cd30488.jpg 480w,
			/assets/static/mike-dorner-173502-unsplash.1c9e94c.cd30488.jpg 1024w,
			/assets/static/mike-dorner-173502-unsplash.f11e5e1.cd30488.jpg 1920w,
			/assets/static/mike-dorner-173502-unsplash.c0dad42.cd30488.jpg 2560w"
		data-sizes="(max-width: 2560px) 100vw, 2560px"

		class="g-image g-image--lazy g-image--loaded"

		srcset="/assets/static/mike-dorner-173502-unsplash.b6e36c6.cd30488.jpg 480w,
			/assets/static/mike-dorner-173502-unsplash.1c9e94c.cd30488.jpg 1024w,
			/assets/static/mike-dorner-173502-unsplash.f11e5e1.cd30488.jpg 1920w,
			/assets/static/mike-dorner-173502-unsplash.c0dad42.cd30488.jpg 2560w"
		sizes="(max-width: 2560px) 100vw, 2560px"
	>
	<noscript>
		<img
			src="/assets/static/mike-dorner-173502-unsplash.c0dad42.cd30488.jpg"
			class="g-image g-image--loaded"
			width="2560"
			alt="Banana"
		>
	</noscript>
</a>