	<section class="container mt-40">
		<div class="row">
			<article class="col-md-12">

				<h1 class="mb-10">Heading One</h1>
				<h2 class="mb-10">Heading Two</h2>
				<h3 class="mb-10">Heading Three</h3>
				<h4 class="mb-10">Heading Four</h4>
				<h5 class="mb-10">Heading Five</h5>
				<h6 class="mb-10">Heading Six</h6>
				<p class="mb-10">Paragraph - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. {{company_name}} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the <a href="#" class="fc-primary">inline link</a> industry's standard dummy text ever since the 1500s.</p>
				<p><a href="#">Link</a></p>

				<hr class="mt-40 mb-40"/>

				<div>
					<ul>
						<li class="fs-1 mb-30"><strong>.fs-1</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-2 mb-30"><strong>.fs-2</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-3 mb-30"><strong>.fs-3</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-4 mb-30"><strong>.fs-4</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-5 mb-30"><strong>.fs-5</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-6 mb-30"><strong>.fs-6</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-7 mb-30"><strong>.fs-7</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
						<li class="fs-8 mb-30"><strong>.fs-8</strong> - Lorem Ipsum is <strong>simply dummy text</strong> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
					</ul>
				</div>

				<hr class="mt-40 mb-40"/>

				<div class="row mb-20">
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-primary"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-secondary"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-black"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-darkgrey"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-lightgrey"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-white"></div></div>
				</div>
				<div class="row mb-20">
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-error"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-warning"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-success"></div></div>
					<div class="col-2 col-md-1"><div style="height:60px;" class="bg-disabled"></div></div>
				</div>
				<hr class="mt-40 mb-40"/>

				<div class="row mb-20">
					<ul class="col-md-12">
						<li><p class="fc-primary">Text Color</p></li>
						<li><p class="fc-secondary">Text Color</p></li>
						<li><p class="fc-black">Text Color</p></li>
						<li><p class="fc-darkgrey">Text Color</p></li>
						<li><p class="fc-lightgrey">Text Color</p></li>
						<li><p class="fc-white">Text Color</p></li>
					</ul>
				</div>
				<div class="row mb-20">
					<ul class="col-md-12">
						<li><p class="fc-error">Text Color</p></li>
						<li><p class="fc-warning">Text Color</p></li>
						<li><p class="fc-success">Text Color</p></li>
						<li><p class="fc-disabled">Text Color</p></li>
					</ul>
				</div>

				<hr class="mt-40 mb-40"/>
				<h3>Icons</h3>
				<p>Feather icons, <a href="https://feathericons.com/">see full list</a></p>
				<div>
					{{icon "activity" class="icon icon-50 icon-primary"}}
					{{icon "airplay" class="icon icon-50 icon-primary"}}
					{{icon "alert-circle" class="icon icon-50 icon-primary"}}
					{{icon "alert-octagon" class="icon icon-50 icon-primary"}}
					{{icon "alert-triangle" class="icon icon-50 icon-primary"}}
					{{icon "align-center" class="icon icon-50 icon-primary"}}
					{{icon "align-justify" class="icon icon-50 icon-primary"}}
					{{icon "align-left" class="icon icon-50 icon-primary"}}
					{{icon "align-right" class="icon icon-50 icon-primary"}}
					{{icon "anchor" class="icon icon-50 icon-primary"}}
					{{icon "aperture" class="icon icon-50 icon-primary"}}
					{{icon "archive" class="icon icon-50 icon-primary"}}
					{{icon "arrow-down-circle" class="icon icon-50 icon-primary"}}
					{{icon "arrow-down-left" class="icon icon-50 icon-primary"}}
					{{icon "arrow-down-right" class="icon icon-50 icon-primary"}}
					{{icon "arrow-down" class="icon icon-50 icon-primary"}}
					{{icon "arrow-left-circle" class="icon icon-50 icon-primary"}}
					{{icon "arrow-left" class="icon icon-50 icon-primary"}}
                </div>
                <div>
					{{icon "camera-off" class="icon icon-16 icon-primary"}}
					{{icon "camera-off" class="icon icon-20 icon-primary"}}
					{{icon "camera-off" class="icon icon-32 icon-primary"}}
					{{icon "camera-off" class="icon icon-40 icon-primary"}}
					{{icon "camera-off" class="icon icon-44 icon-primary"}}
					{{icon "camera-off" class="icon icon-50 icon-primary"}}
					{{icon "camera-off" class="icon icon-64 icon-primary"}}
					{{icon "camera-off" class="icon icon-70 icon-primary"}}
					{{icon "camera-off" class="icon icon-80 icon-primary"}}
					{{icon "camera-off" class="icon icon-100 icon-primary"}}
					{{icon "camera-off" class="icon icon-128 icon-primary"}}
					{{icon "camera-off" class="icon icon-150 icon-primary"}}
                </div>

                <div>
					{{icon "activity" class="icon icon-50 icon-primary" stroke-width="1"}}
					{{icon "activity" class="icon icon-50 icon-primary" stroke-width="2"}}
					{{icon "activity" class="icon icon-50 icon-primary" stroke-width="3"}}
					{{icon "activity" class="icon icon-50 icon-primary" stroke-width="4"}}
				</div>

				<div>
					{{icon "alert-triangle" class="icon icon-50 icon-primary"}}
					{{icon "alert-triangle" class="icon icon-50 icon-secondary"}}
					{{icon "alert-triangle" class="icon icon-50 icon-black"}}
					{{icon "alert-triangle" class="icon icon-50 icon-darkgrey"}}
					{{icon "alert-triangle" class="icon icon-50 icon-lightgrey"}}
					{{icon "alert-triangle" class="icon icon-50 icon-error"}}
					{{icon "alert-triangle" class="icon icon-50 icon-warning"}}
					{{icon "alert-triangle" class="icon icon-50 icon-success"}}
				</div>

				<div>
					{{icon "alert-triangle" class="icon icon-50 icon-primary" fill="rgba(74, 144, 226, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-secondary" fill="rgba(14, 28, 45, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-black" fill="rgba(0, 0, 0, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-darkgrey" fill="rgba(155, 155, 155, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-white" fill="red"}}
					{{icon "alert-triangle" class="icon icon-50 icon-error" fill="rgba(208, 2, 27, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-warning" fill="rgba(245, 166, 35, 0.1)"}}
					{{icon "alert-triangle" class="icon icon-50 icon-success" fill="rgb(126, 211, 33, 0.1)"}}
				</div>

				<div>
					{{iconBackground "video" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "voicemail" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "volume-1" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "volume-2" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "volume-x" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "volume" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "watch" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "wifi-off" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "wifi" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "wind" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "x-circle" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "x-octagon" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "x-square" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "x" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "youtube" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "zap-off" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "zap" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "zoom-in" class="icon icon-20" stroke="red" stroke-width="1"}}
					{{iconBackground "zoom-out" class="icon icon-20" stroke="red" stroke-width="1"}}
				</div>

				<hr class="mt-40 mb-40"/>

				<ul class="">
					<li><a href="#" class="btn mb-15 btn-primary">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-secondary">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-black">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-darkgrey">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-lightgrey">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-white">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-danger">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-warning">Button</a></li>
					<li><a href="#" class="btn mb-15 btn-success">Button</a></li>

					<li><a href="#" class="btn mb-15 btn-primary btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-secondary btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-black btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-darkgrey btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-lightgrey btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-white btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-danger btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-warning btn-outline">Button Outline</a></li>
					<li><a href="#" class="btn mb-15 btn-success btn-outline">Button Outline</a></li>

					<li><a href="#" class="btn mb-15 btn-primary btn-disabled">Button</a></li>
					<li><button type="button" class="mb-15" disabled>Button</button></li>

                    <li><a href="#" class="btn mb-15 btn-primary">{{icon "zoom-in" class="icon icon-16 icon-white mr-5"}}Button with icon</a></li>
                    <li><a href="#" class="btn mb-15 btn-secondary">{{icon "zoom-in" class="icon icon-16 icon-white mr-5"}}Zoom in</a></li>

					<li><a href="#" class="btn btn-primary btn-wide">Button wide</a></li>
				</ul>

				<hr class="mt-40 mb-40"/>

				<div class="row">
					<div class="col-12 col-sm-6 col-md-3 mb-10">
						<img src="/assetstest.png" alt="Image" class="responsive"/>
					</div>
					<div class="col-12 col-sm-6 col-md-3 mb-10">
						<img src="/assets/img/test.png" alt="Image" class="responsive rounded"/>
					</div>
					<div class="col-12 col-sm-6 col-md-3 mb-10">
						<img src="/assets/img/test.png" alt="Image" class="responsive circle"/>
					</div>
					<div class="col-12 col-sm-6 col-md-3 mb-10">
						<img src="/assets/img/test.png" alt="Image" class="responsive rounded thumbnail"/>
					</div>
				</div>

				<hr class="mt-30 mb-40"/>

				<form class="validate" name="test" method="get" action="">
					<div class="input-group">
						<label>Label for Input</label>
						<input type="text" name="test-filed-one" placeholder="Placeholder Text">
						<span class="helper-message">This is some helper text to assist you</span>
					</div>
					<div class="input-group">
							<label>Label for Input</label>
							<input type="text" name="test-filed-two" placeholder="Placeholder Text" data-msg-required="This field is required." required>
							<span class="helper-message">This is some helper text to assist you</span>
						</div>
					<div class="input-group">
						<label>Label for Input</label>
						<input type="email" name="email" placeholder="Placeholder Text" data-msg-required="This field is required." data-rule-email="true" data-msg-email="Please enter a valid email address." required>
					</div>
					<div class="input-group">
                        <label>Label for Input</label>
						<div class="file-input">
							<label class="btn btn-primary file-upload-label">Select file<input type="file" class="file-upload" data-msg-required="Please select a file to upload" required></label>
							<span class="helper-message filename">Select files from your computer to upload</span>
						</div>
  					</div>
					<div class="input-group">
						<label>Label for Input</label>
						<select name="select-test" data-rule-select="true" data-msg-required="Please select an option." required>
							<option value="">Please select</option>
							<option value="option-one">Option One</option>
							<option value="option-two">Option Two</option>
							<option value="option-three">Option Three</option>
						</select>
					</div>
					<div class="input-group">
						<label>Label for Input</label>
						<textarea rows="4" placeholder="Placeholder Text" name="textarea-test" required></textarea>
					</div>
					<div class="input-group">
						<label>Label for Input</label>
						<input type="range" class="rangeslider" max="100" min="0" onchange="document.getElementById('rangevalue').innerHTML = this.value;" step="1" name="rangeslider-test" value="50" required>
    					<label class="result">Value: <span id="rangevalue">50</span></label>
					</div>
					<div class="input-group">
						<div class="radio-wrapper">
							<label class="radio">Label for Input
								<input type="radio" name="radio-test" value="test-one" required>
								<div class="radio-indicator"></div>
							</label>
						</div>
						<div class="radio-wrapper">
							<label class="radio">Label for Input
								<input type="radio" name="radio-test" value="test-two" required>
								<div class="radio-indicator"></div>
							</label>
						</div>
					</div>
					<div class="input-group">
						<div class="checkbox-wrapper">
							<label class="checkbox">Label for Input
								<input type="checkbox" name="checkbox-test" value="test" required>
								<div class="checkbox-indicator"></div>
							</label>
						</div>
					</div>
					<div class="input-group">
						<button type="submit">Send</button>
					</div>
					
				</form>

				<hr class="mt-40 mb-40"/>

				<div>
					<div class="notification mb-20 p-10 p-md-15">
						{{icon "alert-circle" class="icon icon-20 icon-primary left"}}
						<p class="fs-7 pl-30">Message</p>
						<a href="#" class="icon icon-40 icon-close-default text-hide right">Close</a>
					</div>
					<div class="notification error mb-20 p-10 p-md-15">
						{{icon "alert-octagon" class="icon icon-20 icon-error left"}}
						<p class="fs-7 pl-30">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
						<a href="#" class="icon icon-40 icon-close-error text-hide right">Close</a>
					</div>
					<div class="notification warning mb-20 p-10 p-md-15">
						{{icon "alert-triangle" class="icon icon-20 icon-warning left"}}
						<p class="fs-7 pl-30">Message</p>
						<a href="#" class="icon icon-40 icon-close-warning text-hide right">Close</a>
					</div>
					<div class="notification success mb-20 p-10 p-md-15">
						{{icon "heart" class="icon icon-20 icon-success left"}}
						<p class="fs-7 pl-30">Message</p>
						<a href="#" class="icon icon-40 icon-close-success text-hide right">Close</a>
					</div>
					<div class="mb-20">
						<span class="notification tiny error"></span>
					</div>
					<div class="">
						<span class="notification number warning">99</span>

					</div>
				</div>

				<hr class="mt-40 mb-40"/>

				<div>
					<div class="breadcrumbs">
						<p class="fs-7 d-flex align-items-center"><a href="#" class="">Home</a>&nbsp;&nbsp;<span class="icon icon-16 icon-divider"></span>&nbsp;&nbsp;<a href="#" class="">Category</a>&nbsp;&nbsp;<span class="icon icon-16 icon-divider"></span>&nbsp;&nbsp;Page Title</p>
					</div>
				</div>

				<hr class="mt-40 mb-40"/>

				<div class="row">

					<ul class="col-md-12 tabs tabs-primary tabs-top mb-40">
						<li class="fs-7 fw-400"><a href="#" class="fc-black active">Tab 1</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 2</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 3</a></li>
					</ul>

					<ul class="col-md-12 tabs tabs-primary tabs-bottom mb-40">
						<li class="fs-7 fw-400"><a href="#" class="fc-black active">Tab 1</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 2</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 3</a></li>
					</ul>

					<ul class="col-md-3 tabs tabs-vertical tabs-right tabs-primary mb-40">
						<li class="fs-7 fw-400"><a href="#" class="fc-black active">Tab 1</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 2</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 3</a></li>
					</ul>
				</div>
				<div class="row">
					<ul class="col-md-3 tabs tabs-vertical tabs-left tabs-primary mb-40">
						<li class="fs-7 fw-400"><a href="#" class="fc-black active">Tab 1</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 2</a></li>
						<li class="fs-7 fw-400"><a href="#" class="fc-black">Tab 3</a></li>
					</ul>
				</div>

				<hr class="mt-40 mb-40"/>

				<div>
					<ul class="pagination d-flex justify-content-center">
						<li><span><em class="icon icon-16 icon-divider icon-rotate-180"></em></span></li>
						<li><span class="active">1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">98</a></li>
						<li><a href="#">99</a></li>
						<li><a href="#"><em class="icon icon-16 icon-divider"></em></a></li>
					</ul>
				</div>

			</article>
		</div>
	</section>