.checkout-steps {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top:16px;
		z-index: 0;
		left:0;
		width:100%;
		border-bottom:2px solid $grey;
		height:0;
		display: block;
	}
	.number {
		display: flex;
		line-height: 34px;
		justify-content: center;
		border:2px solid #DBD5D0;
		background: $white;
		z-index: 2;
		position: relative;
		height:34px;
		width:34px;
		border-radius:100%;
		margin-bottom:10px;
		font-weight: bold;
	}
	.label {
		text-align: center;
	}
	.complete {
		.number {
			border-color:$black;
			background:$black;
			color:white;
		}
		.label {}
	}
	.step {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		&:first-child {
			align-items: flex-start;
			.number {}
			.label {
				text-align: left;
			}
		}
		&:last-child {
			align-items: flex-end;
			.number {}
			.label {
				text-align: right;
			}
		}
	}
}