table.responsive {
    border:0;
    width: 100%;
    margin:0;
    padding:0;
    
	select {
		background-color:transparent;
		margin-left: auto;
	}
	.show-more {
		background:#989A9D;
		text-align:center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding:10px!important;
		cursor: pointer;
		strong {
			color:$black;
			font-weight: normal;
			padding-right:10px;
		}
		span {
			display:none;
			color:white;
			line-height:30px;
			font-size:30px;
			height:30px;
			font-weight: normal;
		}
	}
	thead {
		display:none;
		th {border:none;}
	}
	tbody {
		background: #fff;
		tr {
			border:1px solid $grey;
			display:table-row;
			margin-bottom:20px;
			td {
				padding:10px;
				display: block;
				text-align: right;
				&:before{
					content: attr(data-label);
					float: left;
					font-weight: bold;
				}
				&:last-child {
					border-bottom:0;
				}
			}
		}
	}

	&.show-more {
		border-collapse: initial;
		border-spacing: 0 5px;
		table-layout: fixed;
		thead {
			tr {
				th:last-child {
					width:60px;
				}
			}
		}
		tbody {
			tr {
				//margin-bottom:0px;
				//margin-top:20px;
				width:100%;
				border:none;
				border-top:5px solid white;
				td {
					position: relative;
					display:table;
					width:100%;
				}
			}
			@include media-breakpoint-up(md) {
				tr {
					td {
						//border-top: 5px solid white;
						//height:60px;
						display:table-cell;
						border:0;
					}
				}
			}
		}
	}

	.hidden-content {
		display:none;
		border:0;
		height:0;
		border-spacing: 0;
		&.active {
			display: table-row;
			border:1px solid $grey;
			position: relative;
			height:auto;
		}
		td {
			padding:10px;
			text-align: left;
		}
		ul {
			width: fit-content;
			li {
				line-height: 24px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		select {
			margin-left: 0;
		}
		.show-more {
			margin-left:auto;
			width:60px;
			padding:0!important;
			strong {
				display:none;
			}
			span {
				display: inline;
			}

		}
		.hidden-content {
			td{
				padding:20px!important;
			}
			&.active {
				border:none;
			}
		}
		thead {
			display:table-header-group;
			tr {
				th {
					background:$black;
					color:white;
					padding:20px 10px;
				}
			}
		}
		tbody {
			tr {
				display: table-row;
				margin:0;
				border:0;
				background:$offwhite;
				border-top:5px solid white;
				td {
					display: table-cell;
					text-align: left;
					border:0;
					height:60px;
					padding:0 10px;
					&:before{
						display:none;
					}
	
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.show-more {
			width:65px;
		}
		thead {
			tr {
				th {
					padding:20px;
				}
			}
		}
		tbody {
			tr {
				td {
					height:65px;
					padding:0 20px;
					&:last-child {
						padding-right:10px;
					}
				}
			}
		}
	}
}

table.non-responsive {
    border:0;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
	border-spacing: 0;
	thead {
		tr {
			th {
				background:$black;
				color:white;
				padding:15px 10px;
			}
		}
	}
	tbody {
		background: #fff;
		tr {
			border:1px solid $grey;
			margin-bottom:20px;
			td {
				padding:15px 10px;
				&:last-child {
					border-bottom:0;
				}
			}
		}
	}

	@include media-breakpoint-up(md) {
		thead {
			display:table-header-group;
			tr {
				th {
					background:$black;
					color:white;
					padding:20px 10px;
				}
			}
		}
		tbody {
			tr {
				margin:0;
				border:0;
				background:$offwhite;
				border-top:5px solid white;
				td {
					border:0;
					height:60px;
					padding:0 10px;
					&:before{
						display:none;
					}
	
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		thead {
			tr {
				th {
					padding:20px;
				}
			}
		}
		tbody {
			tr {
				td {
					height:65px;
					padding:0 20px;
					&:last-child {
						padding-right:10px;
					}
				}
			}
		}
	}
}