.video-hub {
	.video-cover {
		position: relative;
		min-height:1px;
		.play {
			position: absolute;
			width:80px;
			height:80px;
			top:50%;
			left:50%;
			transform: translateX(-50%) translateY(-50%);
			@include media-breakpoint-up(md) {
				height:100px;
				width:100%;
			}
		}
	}
	.video-player {
		
	}
	h3 {font-size:22px;line-height:24px;}
	.video-detail {
		p {}
	}
	.video-close {

	}
	.video-player, .video-close, .description {
		display:none;
	}
	.category {
		font-size:14px;
		font-weight:bold;
	}
	// .video-player, .video-detail, .video-close {
	// 	display: none;
	// }
	&.dactive {
		flex: 0 0 100%!important;
		max-width: 100%!important;
		.video-cover {
			display:none;
		}
		.video-player, .video-detail, .video-close {
			display:block;
		}
	}
}
[data-video-container] {
	
	display:none;
	&.active {
		display:block;
	}
	h3 {
		padding-top:20px;
		font-size:24px;
		line-height:28px;
	}
	h3, div.mt-auto {
		background:white;
		padding-left:20px;
		padding-right:20px;
	}
	div.mt-auto {
		padding-bottom:20px;
	}
	.description {
		display:block;
		padding-bottom:10px;
	}
	.video-hub {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.video-cover {
		display:none;
	}
	.video-player {
		display: block;
	}
	@include media-breakpoint-up(md) {
		h3 {
			padding-top:0;
			font-size:32px;
			line-height:36px;
		}
	}
	
}