// IE-11 ONLY Bugfixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	html, body {
		height:auto;
	}
	.store-locator .btn-get-location {display:none;}
	.card.overlay:hover {
		.hoverable {
			opacity: 1;
		}
		h3 {
			background-color: rgba($black, 0);
		}
	}
	.container {min-height:1px;}
	select::-ms-expand {
		display: none;
	}
	.btn span, button span, input[type="button"] span, input[type="submit"] span, input[type="reset"] span {
		padding-top: 0px;
	}
	.product-images .rsArrowIcn, .product-images .rsFullscreenIcn {
		background-size:28px;
	}
	.notification.number {
		line-height:14px;
	}
	.image-checkbox label{
		display: inline-block;
	}
	.image-checkbox label img{
		pointer-events: none;
	}
	.image-checkbox label:before {
		line-height:28px;
	}
	section.hero picture img {
		height: auto;
	}

	section.hero {
		position: relative;
		img.hero-image {
			position: absolute;
			bottom:0;
			left:0;
			height:100%;
			width:auto;
			transform: translateX(-25%);
		}
		picture {
			background:red;
			position: relative;
			overflow:hidden;
			img {
				position: absolute;
				bottom:0;
				left:0;
				height:100%;
				width:auto;
				transform: translateX(-25%);
			}
		}
	}
}