/////////////////////////////////////////////////////////
// Pagination                                          //
/////////////////////////////////////////////////////////

// Defaults

.pagination {
	.bar {
		max-width:375px;
		margin-left:auto;
		margin-right:auto;
		height:5px;
		width:100%;
		.percentage {
			transition: width 280ms linear;
			width:1%;
			height:5px;
		}
	}
}