/////////////////////////////////////////////////////////
// Brand                                               //
/////////////////////////////////////////////////////////

.logo {
	width: 140px;
	height: 38px;
	display: block;
	margin: 6px 0;
	&.center {
		margin: 0 auto;
	}
	@include media-breakpoint-up(lg) {
		width: 220px;
		height: 58px;
	}
	&.embed {
		@include media-breakpoint-up(lg) {
			width: 190px;
			height: 50px;
		}
	}
}

.advantage {
	.logo {
		width: 140px;
		height: 34px;
		@media screen and (min-width: 370px) {
			width: 190px;
			height: 34px;
		}
		@include media-breakpoint-up(md) {
			width: 240px;
			height: 34px;
		}
		@include media-breakpoint-up(lg) {
			width: 267px;
			height: 38px;
			margin: 7px 0;
		}
		@include media-breakpoint-up(xxl) {
			width: 350px;
			height: 48px;
			margin: 5px 0;
		}
		@include media-breakpoint-up(xxxl) {
			width: 410px;
			height: 58px;
			margin: 0;
		}
	}
}
