.wysiwyg {
	h1,h2,h3,h4,h6, .block {
		margin-bottom: 20px;
	}
	h5 {
		margin-bottom:0;
	}
	p {
		margin-bottom:20px;
		a {
			@media (hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	img {
		margin-bottom:20px;
	}
	figure {
		margin-bottom:20px;
		img {
			margin-bottom:0;
		}
		figcaption {
			font-weight: bold;
			font-size:14px;
			text-align: center;
			padding:7px;
		}
		a {
			figcaption {
				color: $black;
			}
			&:hover {
				figcaption {
					text-decoration:underline;
				}
			}
		}
	}
	ul, ol {
		margin-bottom:20px;
		padding-left: 22px;
		ul {
			list-style-type: circle; 
			margin-left: 22px;
		}
		ol {
			list-style-type: lower-latin; 
			margin-left: 22px;
		}
	}
	ul {list-style-type: disc;}
	ol {list-style-type: decimal;}

	table {
		width: 100%;
		th,	td {
			border-bottom: 1px solid $line;
			padding: 10px 15px;
			text-align: left;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}	
		}
	}
	@include media-breakpoint-up(lg) {

		figure {
			figcaption {
				font-size:16px;
				padding:10px;
			}
		}


	}

	// block fixes
	.card {
		img, h3 {margin-bottom:0;}
	}

	// Blockquote
	blockquote {
		font-style: italic;
		text-align: center;
		max-width:540px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		&:after {
			display: block;
			content: "\2500 \2500 \2500 \2500 \25C6 \2500 \2500 \2500 \2500";
			margin-top: 16px;
		}
		&:before {
			display: block;
			content: "\275B \275B ";
			font-size: 3em;
		}
		@include media-breakpoint-up(lg) {
			p {
				font-size:20px;
			}
		}
		@include media-breakpoint-up(xl) {
			p{
				font-size:24px;
			}
		}
	}


}

nav.content-menu {
	ul {
		li {
			border-bottom:1px solid $grey;
			border-right:3px solid transparent;
			&.active {
				border-right-color: $primary;
			}
			a {
				display:block;
				padding:10px 10px 10px 0;
				color: $black;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}