/*------------------------------------*\
    #Type styles
\*------------------------------------*/

// Type Defaults
$hfont : Arial, 'Helvetica Neue', Helvetica, sans-serif; //Header Fonts
$bfont : Arial, 'Helvetica Neue', Helvetica, sans-serif; //Body Fonts

// Font Sizes
$sizebody : 100% ;
$sizeh1   : 2.2em;
$sizeh2   : 2em  ;
$sizeh3   : 1.8em;
$sizeh4   : 1.6em;
$sizeh5   : 1.4em;
$sizeh6   : 1.2em;


html, body {}
body { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $sizebody;
    color: $bodycolor;
    font-family: $bfont;
}


// Headings
h1, h2, h3, h4, h5, h6 { font-family: $hfont; }
h1 { font-size: $sizeh1; }
h2 { font-size: $sizeh2; }
h3 { font-size: $sizeh3; }
h4 { font-size: $sizeh4; }
h5 { font-size: $sizeh5; }
h6 { font-size: $sizeh6; }


// Paragraphs
p {
    font-size: $sizebody;
    line-height: 1.5em;
}

.light  { font-weight: 300; }
.normal { font-family: 400; }
.strong { font-weight: 600; }


// Links
a {
    text-decoration: none;

    &:hover {}
    
    &:visited {}
}


// Text Align
.text-center { text-align: center; }
.text-left   { text-align: left  ; }
.text-right  { text-align: right ; }
