// Main Layout
header {
	position: relative;
	z-index: 100;
	.logo {
		margin:0;
		max-width:100%;
		height:auto;
	}
	.top {
		height:0;
	}
	.saved-items, 
	.basket-items,
	.search-btn {
		position: relative;
	}
	@include media-breakpoint-up(lg) {
		.top {
			height:60px;
		}
	}
	@include media-breakpoint-down(md) {
		.bottom .container {
			height:50px;
		}
		
		.saved-items, 
		.basket-items,
		.search-btn {
			position: absolute;
			top:0;
			height:50px;
			width:50px;
		}
		.saved-items {
			right:100px;
		}
		.basket-items {
			right:50px;
		}
		.search-btn {
			right:0;
		}
		.notification.number {
			position: relative;
			top:-8px;
			left:-6px;
			box-shadow: 0 0 0 2px white;
		}
	}

}

// Fixed header on mobile
body {
	padding-top:50px;
}
header {
	position: fixed;
	width:100%;
	top:0;
	left:0;
	right:0;
}
@include media-breakpoint-up(lg) {
	body {
		padding-top:148px;
	}
}

// Site switcher
header {
	.site-switch {

		span, p {height:100%; display:flex; align-items:center;color: #9B9B9B;}
		a, p {
			font-size: 14px;
			color: #9B9B9B;
		}
		.current, p {
			position: relative;
			a {
				color: #4A4A4A;
			}
			&:after {
				content: '';
				position: absolute;
				left: calc(50% - 14px);
				right: inherit;
				margin: inherit;
				bottom: 0;
				width: 0;
				height: 0;
				border-bottom: solid 12px #FFF;
				border-left: solid 8px transparent;
				border-right: solid 8px transparent;
			}
		}
		p {
			&:after {
				left: 14px;
				
			}
		}
	}
}

// Checkout header {
header {
	&.checkout {
		position: relative;
		width:100%;
	}
}