header {
	.saved-items {
		.saved-popup-trigger {
			cursor: pointer;
			position: relative;
			z-index: 101;
		}

		.saved-list {
			display:none;
			border: 1px solid #DCD5CF;
			box-shadow: 0px 4px 8px 0px rgba($black,0.1), 0px 3px 4px 0px rgba($black,0.15);
			width:280px;
			background:white;
			position: absolute;
			padding: 15px;
			top: 54px;
			left:50%;
			transform: translateX(-60%);
			z-index: 101;
			text-align: center;
			&:before {
				content: '';
				position: absolute;
				left: calc(60% - 19px);
				right: inherit;
				margin: inherit;
				top:-12px;
				width: 0;
				height: 0;
				border-bottom: solid 12px #DCD5CF;
				border-left: solid 8px transparent;
				border-right: solid 8px transparent;
			}
			.saved-popup-close {
				position: absolute;
				top:10px;
				right:10px;
				cursor: pointer;
			}
			h3 {

			}
			p {
				font-size: 14px;
			}
		}
	
		&.active {
			.saved-list {
				display:block;
			}
		}
		
		@include media-breakpoint-up(lg) {
			.saved-list {
				top: 64px;
				transform: translateX(-52%);
				&:before {
					left: calc(50% - 13px);
				}
			}
		}
		@include media-breakpoint-up(xl) {
			.saved-list {
				top: 64px;
				transform: translateX(-43%);
				&:before {
					left: calc(50% - 14px);
				}
			}
		}

	}

}