.store-locator {
	margin: 5px 0;
	padding: 5px;
	background: #E4E4E4;
	span {
		font-size:14px;
	}
	input {
		height:40px;
		margin-left:1px;
		border-color: white;
		&:focus, &:hover {
			border-color: white;
		}
	}

	.btn-get-location {
		width:40px;
		padding-left:0!important;
		padding-right:0!important;
		background:white!important;
		border-color: white;
		&:focus, &:hover {
			border-color: white;
		}
	}

	
	@include media-breakpoint-up(md) {
		display:flex;
		align-items: center;
		input {
			max-width:168px;
		}
	}

}