/*------------------------------------*\
    #Grid System & Layout
\*------------------------------------*/


// Config
$grid-columns: 24;
$grid-gutter-width: 30px;
$maxwidth    : 1120px;
$lgdesktopmq : 930px ;
$desktopmq   : 768px ;
$tabletmq    : 520px ;

// Containers & Rows
// Box sizing
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@viewport { width: device-width; }

.container {
    margin-right: auto;
    margin-left:  auto;
    padding-left:  15px;
    padding-right: 15px;
    max-width: $maxwidth;
}

.row {
    margin-left:  -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
}

// Clearfix
section, .clearfix, .container, .row { @include clearfix(); }

// Common styles for small and large grid columns
@include make-grid-columns;

// Extra small grid
@include make-grid(xs);

// Small grid
@media (min-width: $tabletmq ) {
  @include make-grid(sm);
}

// Medium grid
@media (min-width: $desktopmq) {
  @include make-grid(md);
}

// Large grid
@media (min-width: $lgdesktopmq) {
  @include make-grid(lg);
}

// no padding col
.col-no-pad {padding-left:0;padding-right: 0;}

// Floats
.float-right {float: right;}
.float-left {float: left;}
