// Containers & Rows
// Box sizing
body {margin: 0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@viewport { width: device-width; }

.container {
    margin-right: auto;
    margin-left:  auto;
    padding-left:  15px;
    padding-right: 15px;
    max-width: $maxwidth;
    overflow: hidden;
}

.row {
    margin-left:  -15px;
    margin-right: -15px;
}

// Clearfix
section, .clearfix, .container, .row { @include clearfix(); }

// Common styles for small and large grid columns
@include make-grid-columns;

// Extra small grid
@include make-grid(xs);

// Small grid
@media (min-width: $tabletmq ) {
  @include make-grid(sm);
}

// Medium grid
@media (min-width: $desktopmq) {
  @include make-grid(md);
}

// Large grid
@media (min-width: $lgdesktopmq) {
  @include make-grid(lg);
}

// no padding col
.col-no-pad {padding-left:0;padding-right: 0;}
