    
	<!-- build:js /assets/js/main.js  defer-->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"  defer></script>
    <script type="text/javascript" src="/js/main.js"  defer></script>
    <!-- endbuild -->
    
    <!-- @if NODE_ENV='prod' -->
    <script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async></script>
    <script>
    var galite = galite || {};
    galite.UA = 'UA-XXXXXX'; // Insert your tracking code here
    </script>
    <!-- @endif -->
    
  </body>
</html>