<footer class="max-w-7xl mx-auto px-4 sm:px-6 mb-6 md:mb-8 lg:mb-12">
    <p class="text-center text-base text-gray-600 dark:text-white mb-4">
        Follow Roy Barber
    </p>
	<div class="flex justify-center space-x-6 md:order-2">
      <a href="https://instagram.com/roybarberuk" class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-gray-100">
		{{> icon alt="Instagram" icon="instagram" class="h-6 w-6"}}
      </a>

      <a href="https://twitter.com/roybarberuk" class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-gray-100">
		{{> icon alt="Twitter" icon="twitter" class="h-6 w-6"}}
      </a>

      <a href="https://github.com/roybarber" class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-gray-100">
		{{> icon alt="GitHub" icon="github" class="h-6 w-6"}}
      </a>

      <a href="https://dribbble.com/roy" class="text-gray-700 hover:text-gray-900 dark:text-white dark:hover:text-gray-100">
		{{> icon alt="Dribbble" icon="dribbble" class="h-6 w-6"}}
      </a>
    </div>
</footer>
