<h1>Sample document for editor area test </h1>
<p>This document is used in the articles Evaluating WYSIWYG-editors <a href="/2006/wysiwyg-editor-test/"
		title="Evaluating WYSIWYG-editors 2006">2006</a> and <a href="/2007/wysiwyg-editor-test-2/"
		title="Evaluating WYSIWYG-editors 2007">2007</a>. It contains various markup features commonly used by content
	editors or "<span lang="fr">r&eacute;dacteurs de contenu</span>" as they are called in <a
		href="http://en.wikipedia.org/wiki/France" title="Wikipedia article about France">France</a>. It is important
	that a <acronym title="what you see is what you get">WYSIWYG</acronym> tool has features that are easily available
	for the editor. If not, there is a risk that content won't receive <strong>proper</strong> markup. Examples of
	commonly found content are:</p>
<ol>
	<li>Headings</li>
	<li>Links (with optional title) </li>
	<li>Lists (like this one)
		<ul>
			<li>including nested lists </li>
		</ul>
	</li>
	<li>Tables
		<ul>
			<li>caption</li>
			<li>headers</li>
			<li>summary</li>
		</ul>
	</li>
	<li>Language information</li>
	<li>Acronyms and abbreviations</li>
	<li>Emphasis and strong emphasis </li>
	<li>Quotes, inline and block </li>
	<li>Images</li>
</ol>
<h2>Test procedure </h2>
<p>In the test we will try to recreate this document using the editor tools. To make sure tables can be inserted
	<em>properly</em> we re-visit banana import statistics from 1998. </p>
<table summary="Sweden was the top importing country by far in 1998.">
	<caption>Top banana importers 1998 (value of banana imports in millions of US dollars per million
		people)<br /><br /></caption>
	<tr>
		<th scope="col">Country</th>
		<th scope="col">Millions of US dollars per million people</th>
	</tr>
	<tr>
		<td>Sweden</td>
		<td>17.12</td>
	</tr>
	<tr>
		<td>United&nbsp;Kingdom</td>
		<td>8.88</td>
	</tr>
	<tr>
		<td>Germany</td>
		<td>8.36</td>
	</tr>
	<tr>
		<td>Italy</td>
		<td>5.96</td>
	</tr>
	<tr>
		<td>United States</td>
		<td>4.78</td>
	</tr>
</table>
<p>For block quotes we will have a look at <a href="http://fawny.org/rhcp.html">what Joe Clark says about redheads</a>:
</p>
<blockquote cite="http://fawny.org/rhcp.html#me">
	<p>"Since boyhood I&rsquo;ve always believed, at the deepest level, that redheads are standard-bearers of the
		grandest and most wondrous human beauty."</p>
</blockquote>
<p>I agree completely and I am honoured to be a contributor to the occasional redhead cluster phenomenon. Which brings
	us to the next item, a picture of a readheaded man. </p>
<p class="redhead"><img
		src="https://images.unsplash.com/photo-1640109414028-4c7f29f39ad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
		alt="Some alt text" /></p>
<p>By coincidence he has a sticker that says &quot;Clark&quot; on him. <q>It's me</q> says Peter Krantz. </p>
