/////////////////////////////////////////////////////////
// Damage - Static Starter Base CSS                    //
/////////////////////////////////////////////////////////

// SASS-UTILS
@import "sass-utils/mixins";

// RESET
@import "reset/reset";

// BASE
//// Grid System
@import "base/grid";
//// Color utiities
@import "base/color";
//// Typography
@import "base/type";
//// Iconography
@import "base/icons";
//// Brand / Logos
@import "base/brand";

// COMPONENTS
//// Reusable components
@import "components/components";

// PAGES
//// Page specific overides
@import "pages/pages";

// Visability hacks
//// Responsive embeds for video/iframes, i.e youtube/vimeo
@import "helpers/responsive-embed";
//// Helpers for screen size based tasks, like show/hide
@import "helpers/responsive-utilities";