/////////////////////////////////////////////////////////
// Forms                                               //
/////////////////////////////////////////////////////////

// Setup
//// Label Group
$remove-ms-clear: true!default;
$form-input-group-margin: 0 0 20px 0!default;
$form-font-family: $hfont!default;
$form-font-size: 16px!default;
$form-font-color: $headingcolor!default;
// Labels
$form-label-margin:0 0 4px 0!default;
$form-label-font-weight: 400!default;
// transitions
$form-transition: all 0.3s linear!default;
// Borders
$form-border-radius: 4px!default;
$form-border-width: 1px!default;
$form-border-style: solid!default;
$form-border-color: $line!default;
// Inputs, Textareas, Select, Option
$form-input-height: 50px!default;
$form-input-width: 100%!default;
$form-input-max-width: 400px!default;
$form-input-bg-color: #fff!default;
$form-input-padding: 0 14px!default;
$form-input-margin: 0!default;
$form-focus-bg-color: white!default;
$form-focus-border-color: $primary!default;
$form-focus-font-color: $form-font-color!default;
$form-input-required-icon: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSI1NTQgNDkgMTAgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgIDxwYXRoIGQ9Ik01NjMuODc4MTIzLDU3LjQ0ODcxODMgQzU2My43MDk3MDMsNTcuNzQxODU4NCA1NjMuNDAzODE4LDU3LjkwMzkwNDkgNTYzLjA4ODgyOSw1Ny45MDM5MDQ5IEM1NjIuOTM0NTIxLDU3LjkwMzkwNDkgNTYyLjc3NzkzNyw1Ny44NjQ3NTg4IDU2Mi42MzQ1NTMsNTcuNzgxOTE0OSBMNTU5LjkxMTYyNyw1Ni4yMDkyNDUyIEw1NTkuOTExNjI3LDU5LjM1NDU4NDUgQzU1OS45MTE2MjcsNTkuODU3MTEwNSA1NTkuNTAzNzc5LDYwLjI2NDk1NzcgNTU5LjAwMTI1Myw2MC4yNjQ5NTc3IEM1NTguNDk4NzI3LDYwLjI2NDk1NzcgNTU4LjA5MDg4LDU5Ljg1NzExMDUgNTU4LjA5MDg4LDU5LjM1NDU4NDUgTDU1OC4wOTA4OCw1Ni4yMDg3OSBMNTU1LjM2NjU4OCw1Ny43ODE5MTQ5IEM1NTUuMjIzMjA1LDU3Ljg2NDc1ODggNTU1LjA2NjYyMSw1Ny45MDM5MDQ5IDU1NC45MTIzMTIsNTcuOTAzOTA0OSBDNTU0LjU5Nzc3OCw1Ny45MDM5MDQ5IDU1NC4yOTE0MzgsNTcuNzQxODU4NCA1NTQuMTIzMDE5LDU3LjQ0ODcxODMgQzU1My44NzE3NTYsNTcuMDEzMTA0NyA1NTQuMDIwNjAyLDU2LjQ1NjQxMTUgNTU0LjQ1NjIxNSw1Ni4yMDYwNTg5IEw1NTcuMTc5NTk3LDU0LjYzMjkzNCBMNTU0LjQ1NTMwNSw1My4wNTk4MDkyIEM1NTQuMDE5NjkxLDUyLjgwODA5MSA1NTMuODcwODQ1LDUyLjI1MjMwODIgNTU0LjEyMjEwOCw1MS44MTY2OTQ2IEM1NTQuMzczMzcxLDUxLjM4MTA4MSA1NTQuOTMwNTIsNTEuMjMxNzc5OCA1NTUuMzY1Njc4LDUxLjQ4MzQ5OCBMNTU4LjA4OTUxNSw1My4wNTYxNjc3IEw1NTguMDg5NTE1LDQ5LjkxMDM3MzIgQzU1OC4wODk1MTUsNDkuNDA3ODQ3MiA1NTguNDk3MzYyLDQ5IDU1OC45OTk4ODgsNDkgQzU1OS41MDI0MTQsNDkgNTU5LjkxMDI2MSw0OS40MDc4NDcyIDU1OS45MTAyNjEsNDkuOTEwMzczMiBMNTU5LjkxMDI2MSw1My4wNTU3MTI1IEw1NjIuNjMzMTg3LDUxLjQ4MzA0MjggQzU2My4wNjgzNDYsNTEuMjMxMzI0NyA1NjMuNjI2ODYsNTEuMzgwNjI1OSA1NjMuODc2NzU3LDUxLjgxNjIzOTQgQzU2NC4xMjgwMiw1Mi4yNTE4NTMgNTYzLjk3OTE3NCw1Mi44MDg1NDYyIDU2My41NDM1Niw1My4wNTkzNTQgTDU2MC44MjEwODksNTQuNjMyNDc4OSBMNTYzLjU0NDAxNiw1Ni4yMDUxNDg1IEM1NjMuOTc5NjI5LDU2LjQ1NjQxMTUgNTY0LjEyOTM4Niw1Ny4wMTMxMDQ3IDU2My44NzgxMjMsNTcuNDQ4NzE4MyBMNTYzLjg3ODEyMyw1Ny40NDg3MTgzIFoiIGlkPSJTaGFwZSIgc3Ryb2tlPSJub25lIiBmaWxsPSIjRDAwMTFCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD48L3N2Zz4='!default;
// Fieldset & Legend Styling
$form-fieldset-bare: false!default;
// textarea
$form-textarea-padding: 14px!default;
// Select
$form-select-bg-color: $form-input-bg-color!default;
$form-select-dropdown-icon: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSI2cHgiIHZpZXdCb3g9IjU1NCA1MyAxMCA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgICA8cG9seWdvbiBpZD0iVHJpYW5nbGUiIHN0cm9rZT0ibm9uZSIgZmlsbD0iIzg0ODQ4NCIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NTkuMDAwMDAwLCA1Ni4wMDAwMDApIHJvdGF0ZSgxODAuMDAwMDAwKSB0cmFuc2xhdGUoLTU1OS4wMDAwMDAsIC01Ni4wMDAwMDApICIgcG9pbnRzPSI1NTkgNTMgNTY0IDU5IDU1NCA1OSI+PC9wb2x5Z29uPjwvc3ZnPg=='!default;
// Buttons & Input Submits
$form-button-height: 40px!default;
$form-button-width: 100%!default;
$form-button-max-width: 200px!default;
$form-button-font-color: $form-font-color!default;
$form-button-bg-color: $form-focus-bg-color!default;
$form-button-hover-bg-color: $form-border-color!default;
$form-button-hover-font-color: $form-font-color!default;
// Layout
$form-display: block!default;
//// Radio
$form-radio-fully-round: true!default;
$form-radio-background-color: white!default;
$form-radio-container-margin: 0 0 15px 0!default;
$form-radio-border-color: $line!default;
$form-radio-selected-color: $primary!default;
$form-radio-size: 18px!default;
$form-radio-border-width:$form-border-width!default;
//// Checkbox
$form-checkbox-background-color: white!default;
$form-checkbox-container-margin: 0 0 15px 0!default;
$form-checkbox-border-color: $line!default;
$form-checkbox-selected-color: $primary!default;
$form-checkbox-size: 18px!default;
$form-checkbox-border-width:$form-border-width!default;
$form-checkbox-icon:'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjdweCIgdmlld0JveD0iNSA4IDggNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgPHBhdGggZD0iTTEyLjQ3MDQ1NzIsOC4yOTY1Njk0NSBDMTIuMDgzNTIyLDcuOTAxMTQzNTIgMTEuNDU2NDIwMSw3LjkwMTE0MzUyIDExLjA2OTQ4NDksOC4yOTY1Njk0NSBMNy41NjY2OTAzNSwxMS44Njc1MzI1IEw2LjY5MTE3MzY2LDEwLjk3NDc5MTggQzYuMzA0MjM4NDYsMTAuNTgxNzkxNyA1LjY3Njg5NCwxMC41ODE3OTE3IDUuMjkwMjAxNCwxMC45NzQ3OTE4IEM0LjkwMzI2NjIsMTEuMzcwMjE3NyA0LjkwMzI2NjIsMTIuMDEwNjYyMiA1LjI5MDIwMTQsMTIuNDAzNjYyMiBMNi44NjYzMjU1MiwxNC4wMTIwNTExIEM3LjI1MzI2MDcxLDE0LjQwNzQ3NyA3Ljg4MDM2MjU4LDE0LjQwNzQ3NyA4LjI2NzI5Nzc4LDE0LjAxMjA1MTEgTDEyLjQ3MDQ1NzIsOS43MjU0Mzk4NyBDMTIuODU3MzkyNCw5LjMzMDAxMzkzIDEyLjg1NzM5MjQsOC42ODk1Njk0NiAxMi40NzA0NTcyLDguMjk2NTY5NDUiIGlkPSJjaGVja21hcmsiIHN0cm9rZT0ibm9uZSIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48L3BhdGg+PC9zdmc+'!default;
//// Errors
$form-state-error: $error!default;
$form-state-warning: $warning!default;
$form-state-valid: $success!default;
$form-state-message-font-size: 14px!default;
$form-state-message-font-line-height:24px!default;
$form-state-message-margin: 5px 0 0 0!default;
//// Helper text
$form-helper-text-color:$darkgrey!default;
//// Range Slider
$form-input-range-track-color: $lightgrey!default;
$form-input-range-thumb-color: $primary!default;
$form-input-range-thumb-radius: 20px!default;
$form-input-range-thumb-height: 20px!default;
$form-input-range-thumb-width: 20px!default;
$form-input-range-thumb-border-width: 0px!default;
$form-input-range-thumb-border-color: $primary!default;
$form-input-range-track-width: 100%!default;
$form-input-range-track-height: 4px!default;
$form-input-range-track-border-width: 0px!default;
$form-input-range-track-border-color: $lightgrey!default;
$form-input-range-track-radius: 0px!default;
$form-input-range-contrast: 0%!default;
//// Reusable code
@mixin track {
	cursor: pointer;
	height: $form-input-range-track-height;
	transition: all .2s ease;
	width: $form-input-range-track-width;
}
@mixin thumb {
	background: $form-input-range-thumb-color;
	border: $form-input-range-thumb-border-width solid $form-input-range-thumb-border-color;
	border-radius: $form-input-range-thumb-radius;
	cursor: pointer;
	height: $form-input-range-thumb-height;
	width: $form-input-range-thumb-width;
}


// Global Reset Styles
//// Input wrapper
.input-group {
	margin: $form-input-group-margin;
}
input,
textarea,
select,
option {
    box-sizing: border-box;
    outline: none;
    vertical-align: top;
    font-family: $form-font-family;
    font-size: $form-font-size;
    color: $form-font-color;
	margin: $form-input-margin;
    display: $form-display;
}
label {
    display: $form-display;
    margin: $form-label-margin;
    font-weight: $form-label-font-weight;
}
.state-message, .helper-message {
	font-size: $form-state-message-font-size;
	line-height: $form-state-message-font-line-height;
	margin:$form-state-message-margin;
	display: block;
	&.error {color: $form-state-error;}
	&.warning {color: $form-state-warning;}
	&.valid {color: $form-state-valid;}
}
.helper-message {
	color: $form-helper-text-color;
}
input:invalid, textarea:invalid{
    box-shadow: none;
}


// Input & Textarea
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
	width: $form-input-width;
	padding: $form-input-padding;
	background-color: $form-input-bg-color;
	-webkit-border-radius: $form-border-radius;
	-moz-border-radius: $form-border-radius;
	border-radius: $form-border-radius;
	border: $form-border-width $form-border-style $form-border-color;
	@include transition($form-transition);
	@include media-breakpoint-up(md) {
		max-width: $form-input-max-width;
	}
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list], 
textarea {
    height: $form-input-height;
    -webkit-appearance: none;
    &:required {
	    background: $form-input-bg-color url($form-input-required-icon) no-repeat right 14px center;
	    background-size:8px;
    }
    &.error {
	    border: $form-border-width $form-border-style $form-state-error;
	    color: $form-state-error;
    }
    &.valid {
	    background: $form-input-bg-color;
	    border: $form-border-width $form-border-style $form-state-valid;
    }
}
@if $remove-ms-clear == true {
	input::-ms-clear {
		display: none;
	}
}

// Other
textarea {
	height: inherit;
    -webkit-appearance: none;
    overflow: auto;
	padding:$form-textarea-padding;
	&:required {
	    background-position: right 14px top 20px;
	    background-size:8px;
    }
}
input[type="file"] {
    min-height: $form-input-height;
}
input[type="search"] {
    height: $form-input-height;
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


//File Input
.file-input {
    input[type="file"] {
        left: -9999px;
	    position: absolute;
    }
    label {margin-right:15px;}
    .filename{
        overflow: hidden;
        white-space: nowrap;
    }
}

// Select
select {
    height: $form-input-height;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: $form-select-bg-color url($form-select-dropdown-icon) no-repeat right 14px center;
	background-size:10px;
	&.error {
	    border: $form-border-width $form-border-style $form-state-error;
	    color: $form-state-error;
    }
    &.valid {
	    border: $form-border-width $form-border-style $form-state-valid;
    }
    @include media-breakpoint-up(md) {
	    &:hover {cursor: pointer;}
	}
}


// States
input[disabled],
textarea[disabled],
select[disabled],
option[disabled] {
    cursor: not-allowed;
    background-color:darken($form-input-bg-color, 10%) ;
}
input:focus,
textarea:focus,
select:focus,
option:focus,  {
    background-color: $form-focus-bg-color;
    border-color: $form-focus-border-color;
}


// Radio Buttons
.radio-wrapper {
	margin:$form-radio-container-margin;
	label {
		line-height: $form-radio-size;
		cursor: pointer;
		margin:0;
		position: relative;
		padding-left:$form-radio-size * 1.4;
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	}
	.radio-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: $form-radio-size;
		width: $form-radio-size;
		background: white;
		border:$form-radio-border-width solid $form-radio-border-color;
	}
	.radio .radio-indicator {
		@if $form-radio-fully-round == true {
	        @include border-radius(50%);
	    }
	    @else {
	        @include border-radius($form-border-radius);
	    }
	}
	.radio:hover input ~ .radio-indicator,
	.radio input:focus ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio input:checked ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio:hover input:not([disabled]):checked ~ .radio-indicator,
	.radio input:checked:focus ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio input:disabled ~ .radio-indicator {
		background: $disabled;
		opacity: 0.6;
		pointer-events: none;
	}
	.radio input.error ~ .radio-indicator {
		border:$form-radio-border-width solid $error;
	}

	.radio-indicator:after {
		left: 3px;
		top: 3px;
		height: $form-radio-size - 8;
		width: $form-radio-size - 8;
		@if $form-radio-fully-round == true {
	        @include border-radius(50%);
	    }
	    @else {
	        @include border-radius($form-border-radius);
	    }
	    content: '';
		position: absolute;
		display: block;
		background: $form-radio-background-color;
		@include transition($form-transition);
	}
	.radio input:checked ~ .radio-indicator:after {
		background: $form-radio-selected-color;
	}
	.radio input:disabled ~ .radio-indicator:after {
		background: $disabled;
	}
}


// Checkbox
.checkbox-wrapper {
	margin:$form-checkbox-container-margin;
	label {
		line-height: $form-checkbox-size;
		cursor: pointer;
		margin:0;
		position: relative;
		padding-left:$form-checkbox-size * 1.4;
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	}
	.checkbox-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: $form-checkbox-size;
		width: $form-checkbox-size;
		background: white;
		border:$form-checkbox-border-width solid $form-checkbox-border-color;
	}
	.checkbox:hover input ~ .checkbox-indicator,
	.checkbox input:focus ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox input:checked ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox:hover input:not([disabled]):checked ~ .checkbox-indicator,
	.checkbox input:checked:focus ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox input:disabled ~ .checkbox-indicator {
		background: $disabled;
		opacity: 0.6;
		pointer-events: none;
	}
	.checkbox input.error ~ .checkbox-indicator {
		border:$form-checkbox-border-width solid $error;
	}
	.checkbox-indicator:after {
		content: '';
		position: absolute;
		display: block;
		left: 1px;
		top: 1px;
		height: $form-checkbox-size - 4;
		width: $form-checkbox-size - 4;
		background: $form-checkbox-background-color url($form-checkbox-icon) no-repeat center center;
		background-size:$form-checkbox-size - 10;
		@include transition($form-transition);
	}
	.checkbox input:checked ~ .checkbox-indicator:after {
		background: $form-checkbox-selected-color url($form-checkbox-icon) no-repeat center center;
	}
	.checkbox input:disabled ~ .checkbox-indicator:after {
		background: $disabled;
	}
}


// Range Slider
input[type='range'] {
	-webkit-appearance: none;
	margin: $form-input-range-thumb-height / 2 0;
	width: $form-input-range-track-width;
	&:focus {
		outline: 0;
		&::-webkit-slider-runnable-track {
			background: lighten($form-input-range-track-color, $form-input-range-contrast);
		}
		&::-ms-fill-lower {
			background: $form-input-range-track-color;
		}
		&::-ms-fill-upper {
			background: lighten($form-input-range-track-color, $form-input-range-contrast);
		}
	}
	// Chrome/Safari
	&::-webkit-slider-runnable-track {
		@include track;
		background: $form-input-range-track-color;
		border: $form-input-range-track-border-width solid $form-input-range-track-border-color;
		border-radius: $form-input-range-track-radius;
	}
	
	&::-webkit-slider-thumb {
		@include thumb;
		-webkit-appearance: none;
		margin-top: ((-$form-input-range-track-border-width * 2 + $form-input-range-track-height) / 2) - ($form-input-range-thumb-height / 2);
	}
	//// Firefox
	&::-moz-range-track {
		@include track;
		background: $form-input-range-track-color;
		border: $form-input-range-track-border-width solid $form-input-range-track-border-color;
		border-radius: $form-input-range-track-radius;
	}
	&::-moz-range-thumb {
		@include thumb;
	}
	//// IE/EDGE
	&::-ms-track {
		@include track;
		background: transparent;
		border-color: transparent;
		border-width: ($form-input-range-thumb-height / 2) 0;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: darken($form-input-range-track-color, $form-input-range-contrast);
		border: $form-input-range-track-border-width solid $form-input-range-track-border-color;
		border-radius: $form-input-range-track-radius * 2;
	}
	&::-ms-fill-upper {
		background: $form-input-range-track-color;
		border: $form-input-range-track-border-width solid $form-input-range-track-border-color;
		border-radius: $form-input-range-track-radius * 2;
	}
	&::-ms-thumb {
		@include thumb;
		margin-top: 0;
	}
}
