/////////////////////////////////////////////////////////
// Images                                              //
/////////////////////////////////////////////////////////

// Setup
$img-border-radius: 6px!default;
$img-thumb-pad: 5px!default;
$img-thumb-border: 1px solid $line!default;


// Image types
img {
	&.responsive {
		width:100%;
		height:auto;
		max-width: 100%;
	}
	&.rounded {
		@include border-radius($img-border-radius);
	}
	&.circle {
		@include border-radius(100%);
	}
	
	&.thumbnail {
		padding:$img-thumb-pad;
		border:$img-thumb-border;
	}
}

// Backgrounds
.bg-cover {
	@include background-cover();
}

// Lazy images component
figure.image {
	position:relative;
	.preload {
		position:absolute;
		z-index:-1;
		width:100%;
	}
	.lozad {
		opacity:0;
		width: 100%;
		height: auto;
		max-width: 100%;
		transition: opacity 500ms ease 100ms;
	
		&[data-loaded] {
			opacity: 1;
		}
	}
}