<div class="sm:grid sm:grid-cols-2 sm:gap-4 lg:gap-6">
	<div class="mb-6 sm:mb-0">
		<div class="bg-white rounded-md shadow-md text-gray-900 flex items-center justify-center py-10 mb-4">
			{{> icon alt="Static Starter" icon="logo" class="w-[156px] h-[34px] sm:sm:w-[210px] sm:h-[48px]"}}
		</div>
		<span class="block font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white">Logo on light background</span>
	</div>
	<div>
		<div class="bg-black rounded-md shadow-md text-white flex items-center justify-center py-10 mb-4">
			{{> icon alt="Static Starter" icon="logo" class="w-[156px] h-[34px] sm:sm:w-[210px] sm:h-[48px]"}}
		</div>
		<span class="block font-mono font-medium text-xs leading-6 text-gray-900 dark:text-white">Logo on dark background</span>
	</div>
</div>
