<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Standard buttons</span>
<div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-6 space-y-3 lg:space-y-0">
	<div>
		<button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-primary hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">Button text</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-gray-900 bg-secondary hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary">Button text</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blood hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blood">Button text</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-gray-900 bg-banana hover:bg-orange-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-banana">Button text</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-violet hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet">Button text</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-8 py-4 border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-green hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green">Button text</button>
	</div>
</div>

<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Standard buttons</span>
<div class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-6 space-y-3 lg:space-y-0">
	<div>
		<button type="button" class="inline-flex items-center px-8 py-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			Button text
			{{> icon alt="Basket" icon="basket" class="h-6 w-6 ml-2"}}
		</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			Button text
			{{> icon alt="Basket" icon="basket" class="h-5 w-5 ml-2"}}
		</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			Button text
			{{> icon alt="Basket" icon="basket" class="h-4 w-4 ml-2"}}
		</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			Button text
			{{> icon alt="Basket" icon="basket" class="h-4 w-4 ml-2"}}
		</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			Button text
			{{> icon alt="Basket" icon="basket" class="h-4 w-4 ml-2"}}
		</button>
	</div>
	<div>
		<button type="button" class="inline-flex items-center p-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-600">
			{{> icon alt="Add" icon="add" class="h-4 w-4"}}
		</button>
	</div>
</div>


<div>
	<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Button group</span>
	<span class="relative z-0 inline-flex shadow-sm rounded-md">
		<button type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-purple-600 focus:border-purple-600">
			{{> icon alt="Basket" icon="basket" class="h-4 w-4 mr-2"}}
			Basket
		</button>
		<button type="button" class="-ml-px relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-purple-600 focus:border-purple-600">
			14
		</button>
	</span>
</div>
