<div class="mb-6">
	<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Success Notification</span>
	<div class="rounded-md bg-emerald-500 p-4">
		<div class="flex items-center">
			<div class="flex-shrink-0">
				<svg class="h-6 w-6 text-emerald-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
				</svg>
			</div>
			<div class="ml-3">
				<p class="text-sm font-medium text-white">Successfully uploaded</p>
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button type="button"
						class="inline-flex bg-emerald-500 rounded-md p-1.5 text-white hover:bg-emerald-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-emerald-500 focus:ring-white">
						<span class="sr-only">Dismiss</span>
						<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-6">
	<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Error Notification</span>
	<div class="rounded-md bg-red-500 p-4">
		<div class="flex items-center">
			<div class="flex-shrink-0">
				<svg class="h-6 w-6 text-red-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
				  </svg>
			</div>
			<div class="ml-3">
				<p class="text-sm font-medium text-white"><strong>Error:</strong> There was a problem</p>
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button type="button"
						class="inline-flex bg-red-500 rounded-md p-1.5 text-white hover:bg-red-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-500 focus:ring-white">
						<span class="sr-only">Dismiss</span>
						<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-6">
	<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Light/Dark Notification</span>
	<div class="rounded-md bg-gray-900 dark:bg-white p-4">
		<div class="flex items-center">
			<div class="flex-shrink-0">
				<svg class="h-6 w-6 text-white dark:text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
				</svg>
			</div>
			<div class="ml-3">
				<p class="text-sm font-medium text-white dark:text-gray-900">Notification text</p>
			</div>
			<div class="ml-auto pl-3">
				<div class="-mx-1.5 -my-1.5">
					<button type="button"
						class="inline-flex bg-gray-900 dark:bg-white rounded-md p-1.5 text-white dark:text-gray-900 hover:bg-white dark:hover:bg-dark-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-bg-gray-900 focus:ring-white focus:dark:ring-bg-gray-900">
						<span class="sr-only">Dismiss</span>
						<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-6">
	<span class="block font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Styled notification</span>
	<div aria-live="assertive" class="flex pointer-events-none">
		<div class="w-full flex flex-col space-y-4">
		<div class="max-w-md w-full bg-white shadow-lg rounded-lg pointer-events-auto flex ring-1 ring-black ring-opacity-5 divide-x divide-gray-200">
			<div class="w-0 flex-1 flex items-center p-4">
			<div class="w-full">
				<p class="text-sm font-medium text-gray-900">
				Receive notifications
				</p>
				<p class="mt-1 text-sm text-gray-500">
				Notifications may include alerts, sounds, and badges.
				</p>
			</div>
			</div>
			<div class="flex">
			<div class="flex flex-col divide-y divide-gray-200">
				<div class="h-0 flex-1 flex">
				<button class="w-full border border-transparent rounded-none rounded-tr-lg px-4 py-3 flex items-center justify-center text-sm font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:z-10 focus:ring-2 focus:ring-indigo-500">
					Reply
				</button>
				</div>
				<div class="h-0 flex-1 flex">
				<button class="w-full border border-transparent rounded-none rounded-br-lg px-4 py-3 flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
					Don't allow
				</button>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
  
</div>
