
<div class="sm:grid sm:grid-cols-12 sm:gap-6 lg:gap-8">

	<div class="col-span-3 relative">
		<div class="sm:sticky top-6 p-6 text-gray-900 dark:text-white text-center rounded-md border border-gray-700 mb-6">
			<div class="block border-b border-b-gray-700 pb-6 mb-6">
				<span class="block text-7xl">Aa</span>
				<span class="block text-sm font-serif dark:text-gray-400">ui-serif</span>
				<span class="block text-sm font-mono dark:text-gray-400">ui-monospace</span>
				<span class="block text-sm font-sans dark:text-gray-400">ui-sans-serif</span>
			</div>
			<ul class="text-xs space-y-2">
				<li class="font-thin">Thin</li>
				<li class="font-extralight">Extralight</li>
				<li class="font-light">Light</li>
				<li class="font-normal">Normal</li>
				<li class="font-medium">Medium</li>
				<li class="font-semibold">Semibold</li>
				<li class="font-bold">Bold</li>
				<li class="font-extrabold">Extrabold</li>
				<li class="font-black">Black</li>
			</ul>
		</div>
	</div>

	

	<div class="col-span-9 flex flex-col gap-8 mb-6">
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-sm</span>
			<p class="text-sm font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-base</span>
			<p class="text-base font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-lg</span>
			<p class="text-lg font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-xl</span>
			<p class="text-xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-2xl</span>
			<p class="text-2xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-3xl</span>
			<p class="text-3xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-4xl</span>
			<p class="text-4xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-5xl</span>
			<p class="text-5xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-6xl</span>
			<p class="text-6xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-7xl</span>
			<p class="text-7xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-8xl</span>
			<p class="text-8xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">text-9xl</span>
			<p class="text-9xl font-medium text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 1</span>
			<h1 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h1>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 2</span>
			<h2 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h2>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 3</span>
			<h3 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h3>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 4</span>
			<h4 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h4>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 5</span>
			<h5 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h5>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Heading 6</span>
			<h6 class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</h6>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Paragraph</span>
			<p class="text-gray-900 dark:text-white overflow-hidden whitespace-nowrap">
				The quick brown fox jumps over the lazy dog.
			</p>
		</div>
		<div>
			<span class="font-medium text-sm text-gray-500 font-mono mb-3 dark:text-gray-400">Other styles</span>
			<div class="wysiwyg dark:wysiwyg-invert wysiwyg-a:text-purple-600 hover:wysiwyg-a:text-purple-800 dark:wysiwyg-a:text-purple-500 min-w-full">
				<p><strong>Another thing</strong> I've done in the past is put a <code>code</code> tag inside of a link, like if I wanted to tell you about the <a href="https://github.com/tailwindcss/docs"><code>tailwindcss/docs</code></a> repository. <em>I don't love that there</em> is an underline below the <a href="https://github.com/tailwindcss/docs">backticks</a> but it is absolutely not worth the madness it would require to <strike>avoid it</strike>.</p>
			</div>
		</div>
	</div>

</div>
