/*------------------------------------*\
    #Buttons
\*------------------------------------*/

// Available Classes:
//   .btn
//   .btn.disabled
//   .btn-uppercase
//   .btn-lowercase
//   .btn-capitalize
//   .btn-small-caps
//   .btn-icon-txt-large
//   .btn-width-small
//   .btn-primary
//   .btn-secondary
//   .btn-another
//   .btn-block
//   .btn-stacked
//   .btn-border
//   .btn-border-thin
//   .btn-border-thick
//   .btn-borderless
//   .btn-lg
//   .btn-md
//   .btn-normal
//   .btn-sm
//   .btn-xs


// $btn prefix (prefix to the Sass Variables)
$btn: 'Buttons';
// Class name
$btn-namespace: '.btn' !default;

// Button Defaults
$btn-bgcolor: $primary !default;
$btn-font-color: white !default;
$btn-font-weight: 300 !default;
$btn-font-size: 16px !default;
$btn-height: 40px !default;
$btn-font-family: $hfont !default;
$btn-border-radius: 4px !default;

// Button Colors
$btn-colors: ('primary' $primary  #FFF) ('secondary' $secondary #FFF) ('another' #222 #EEE) !default;

// Button Sizes
$btn-sizes: (lg 1.5) (md 1.25) (normal 1) (sm .75) (xs .6) !default;

// Mixins and helpers to generate the below
// Color Mixin - Iterates through the list of colors and creates
@mixin colors($type-namespace) {
  #{$type-namespace} {
    @each $btn-color in $btn-colors {
      $btn-name: nth($btn-color, 1);
      $btn-background: nth($btn-color, 2);
      $btn-color: nth($btn-color, 3);
      $btn-color-namespace: $btn-namespace + '-' + $btn-name;

      &#{$btn-color-namespace} {
        @content;
      }
    }
  }
}
// No Animation
@mixin no_animation {animation-name: none;}

// Base Button Style - The default values for the .btn class
#{$btn-namespace} {
  color: $btn-font-color;
  background-color: $btn-bgcolor;
  border-color: $btn-bgcolor;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  text-decoration: none;
  text-align: center;
  line-height: $btn-height;
  height: $btn-height;
  padding: 0 $btn-height;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  @include transition-property(all);
  @include transition-duration(.3s);

  &:visited {
    color: $btn-font-color;
  }

  &:hover,
  &:focus {
    background-color: lighten($btn-bgcolor, 3%);
    text-decoration: none;
    outline: none;
  }

  &:active,
  &.active,
  &.is-active {
    text-decoration: none;
    background-color: desaturate($btn-bgcolor, 10%);
    border-color: darken($btn-bgcolor, 12%);
    color: darken($btn-bgcolor, 10%);
    @include transition-duration(0s);
    @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .2));
  }

  // Disabled State - class .disabled, is-disabled and the form attribute disabled="disabled".
  &.disabled,
  &.is-disabled,
  &:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .10) !important);
    @include opacity(.8 !important);
  }
}

// Base Button Tyography
#{$btn-namespace}-uppercase {
  text-transform: uppercase;
}
#{$btn-namespace}-lowercase {
  text-transform: lowercase;
}
#{$btn-namespace}-capitalize {
  text-transform: capitalize;
}
#{$btn-namespace}-small-caps {
  font-variant: small-caps;
}
#{$btn-namespace}-icon-txt-large {
  font-size: 36px !important;
}
// Base padding
#{$btn-namespace}-width-small {
  padding: 0 10px !important;
}

// Base Colors - Create colors for buttons (.button-primary, .button-secondary, etc.)
@each $btn-color in $btn-colors {
  $btn-name: nth($btn-color, 1);
  $btn-background: nth($btn-color, 2);
  $btn-color: nth($btn-color, 3);

  #{$btn-namespace}-#{$btn-name} {
    background-color: $btn-background;
    border-color: $btn-background;
    color: $btn-color;

    &:visited {
      color: $btn-color;
    }

    &:hover,
    &:focus {
      background-color: lighten($btn-background, 10%);
      border-color: lighten($btn-background, 10%);
      color: $btn-color;
    }

    &:active,
    &.active,
    &.is-active {
      background-color: desaturate($btn-background, 10%);
      border-color: desaturate($btn-background, 10%);
      color: darken($btn-background, 10%);
    }
  }
}

// Base Layout Styles
#{$btn-namespace}-block,
#{$btn-namespace}-stacked {
  display: block;
}

// Rounded Buttons
.button-rounded {border-radius: $btn-border-radius;}
.button-pill {border-radius: 300px;}

// Button Types
// - Border Buttons
#{$btn-namespace}-border {
  background: none;
  border-width: 2px;
  border-style: solid;
  line-height: $btn-height - 4;

  &:hover {
    background-color: rgba(lighten($btn-bgcolor, 10%), .9)
  }

  &:active,
  &.active,
  &.is-active {
    box-shadow: none;
    @include transition-property(all);
    @include transition-duration(.3s);
  }
}
// Border Optional Sizes
#{$btn-namespace}-border-thin {
  @extend #{$btn-namespace}-border;
  border-width: 1px;
}
#{$btn-namespace}-border-thick {
  @extend #{$btn-namespace}-border;
  border-width: 3px;
}
// Border Button Colors
#{$btn-namespace}-border,
#{$btn-namespace}-border-thin,
#{$btn-namespace}-border-thick {

  @each $btn-color in $btn-colors {
    $btn-name: nth($btn-color, 1);
    $btn-background: nth($btn-color, 2);
    $btn-color: nth($btn-color, 3);
    $btn-color-namespace: $btn-namespace + '-' + $btn-name;

    &#{$btn-color-namespace} {
      color: $btn-background;

      &:hover,
      &:focus {
        background-color: rgba(lighten($btn-background, 10%), .9);
        color: rgba($btn-color, .9);
      }

      &:active,
      &.active,
      &.is-active {
        background-color: rgba(desaturate($btn-background, 10%), .7);
        color: rgba($btn-color, .5);
        @include opacity(.3);
      }
    }
  }
  // Border Button Size Adjustment
  @each $btn-sizes-hash in $btn-sizes {
    $btn-size: nth($btn-sizes-hash, 1);
    $btn-multiplier : nth($btn-sizes-hash, 2);
    $btn-size-namespace: #{$btn-namespace}-#{$btn-size};

    &#{$btn-size-namespace} {
      line-height: $btn-height * $btn-multiplier - 4;
    }
  }
}


// Border Buttons - These buttons have no fill they only have a border
#{$btn-namespace}-borderless {
  background: none;
  border: none;
  padding: 0 8px !important;
  color: $btn-bgcolor;
  font-size: $btn-font-size * 1.3;
  font-weight: 200;

  &:hover,
  &:focus {
    background: none;
  }

  &:active,
  &.active,
  &.is-active {
    box-shadow: none;
    @include transition-property(all);
    @include transition-duration(.3s);
    @include opacity(.3);
  }


  // Borderless Button Colors
  @each $btn-color in $btn-colors {
    $btn-name: nth($btn-color, 1);
    $btn-background: nth($btn-color, 2);
    $btn-color: nth($btn-color, 3);
    $btn-color-namespace: $btn-namespace + '-' + $btn-name;

    &#{$btn-color-namespace} {
      color: $btn-background;
    }
  }

  // Borderles Size Adjustment
  @each $btn-sizes-hash in $btn-sizes {
    $btn-size: nth($btn-sizes-hash, 1);
    $btn-multiplier : nth($btn-sizes-hash, 2);
    $btn-size-namespace: #{$btn-namespace}-#{$btn-size};
    $btn-borderless-fontsize: $btn-font-size * $btn-multiplier * 1.3;

    &#{$btn-size-namespace} {
      font-size: $btn-borderless-fontsize;
      height: $btn-borderless-fontsize + 16;
      line-height: $btn-borderless-fontsize + 16;
    }
  }
}

// Button Sizes - This file creates the various button sizes ex. .button-lg, .button-sm, etc.)
@each $btn-size in $btn-sizes {
  $btn-size-name: nth($btn-size, 1);
  $btn-size-multiplier: nth($btn-size, 2);
  $btn-size-namespace: #{$btn-namespace}-#{$btn-size-name};

  #{$btn-size-namespace} {
    font-size: $btn-font-size * $btn-size-multiplier;
    height: $btn-height * $btn-size-multiplier;
    line-height: $btn-height * $btn-size-multiplier;
    padding: 0 ($btn-height * $btn-size-multiplier);
  }
}
