// Button Defaults
$btn-transition: all 0.3s linear;
$btn-border-radius: 4px;
$btn-display: inline-block;
$btn-margin:0 auto 15px auto;
$btn-font-size: 16px;
$btn-line-height: $btn-font-size + 5;
$btn-padding:($btn-line-height / 2) ($btn-line-height * 1.2);

$btn-font-family: $hfont;
$btn-font-weight: 400;
$btn-text-transform: capitalize;
$btn-font-color: white;

$btn-bgcolor: $primary;
$btn-border-width: 1px;


//Buttons
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@include transition($btn-transition);
	@include border-radius($btn-border-radius);
	display: $btn-display;
	margin: $btn-margin;
	padding: $btn-padding;	
	font-family: $btn-font-family;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	font-weight: $btn-font-weight;
	text-transform: $btn-text-transform;
	color: $btn-font-color;	
	background-color: $btn-bgcolor;
	border:$btn-border-width solid $btn-bgcolor;
	text-decoration: none;
	text-align: center;	
	width: auto;
	appearance: none;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-appearance: none;
	
	&.btn-primary {
		&.btn-outline {
			color: $primary;
			background:transparent;
		}
	}
	&.btn-secondary {
		border-color: $secondary;
		background-color: $secondary;
		color: white;
		&.btn-outline {
			color: $secondary;
			background:transparent;
		}
	}
	&.btn-black {
		border-color: $black;
		background-color: $black;
		color: white;
	}
	&.btn-white {
		border-color:$white;
		background-color: $white;
		color: $primary;
	}			
					
	&.btn-wide {display:block;width: 100%;}
	&.btn-block {display:block;}
}
button[disabled], .btn-disabled {
    background:$disabled;
    color: white;
    cursor: not-allowed;
    border-color: $disabled;
}


@include media-breakpoint-up(md) {
	.btn,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		
		&:hover,&:focus,&:active,&.active,&.is-active {
			text-decoration: none;
			outline: none;
		}
		&.btn-primary {
			&:hover,&:focus,&:active,&.active,&.is-active {
				border-color:$btn-border-width solid darken($primary, 20%);
				background: darken($primary, 20%);
			}
			&.btn-outline {
				&:hover,&:focus,&:active,&.active,&.is-active {
					border-color:darken($primary, 20%);
					color: darken($primary, 20%);
					background:transparent;
				}
			}
		}
		&.btn-secondary {
			&:hover,&:focus,&:active,&.active,&.is-active {
				background-color: darken($secondary, 20%);
				border-color: darken($secondary, 20%);
				color: white;
			}
			&.btn-outline {
				&:hover,&:focus,&:active,&.active,&.is-active {
					border-color:darken($secondary, 20%);
					color: darken($secondary, 20%);
					background:transparent;
				}
			}
		}
		&.btn-black {
			&:hover,&:focus,&:active,&.active,&.is-active {
				background-color: lighten($black, 10%);
				border-color: lighten($black, 10%);
			}
		}
		&.btn-white {
			&:hover,&:focus,&:active,&.active,&.is-active {
				color: darken($primary, 10%);
			}
		}	
	}
	button[disabled], .btn-disabled {
		&:hover,&:focus,&:active,&.active,&.is-active {
			background-color: $disabled!important;
			color: $white!important;
			border-color:$disabled!important;
		}
	}
}