// Forms

// Global Reset Styles
input,
textarea,
select,
option {
    box-sizing: border-box;
    outline: none;
    vertical-align: top;
    font-family: $form-font-family;
    font-size: $form-font-size;
    color: $form-font-color;
	margin: $form-input-margin;
    display: $form-display;
}
label {
    display: $form-display;
    margin: $form-label-margin;
    font-size: $form-label-font-size;
}
.state-message {
	font-size: $form-state-message-font-size;
	margin:$form-label-margin;
	display: block;
	&.error {color: $form-state-error;}
	&.warning {color: $form-state-warning;}
	&.valid {color: $form-state-valid;}
}


// Input & Textarea
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
    width: $form-input-width;
    max-width: $form-input-max-width;
    padding: $form-input-padding;
    background-color: $form-input-bg-color;
    -webkit-border-radius: $form-border-radius;
    -moz-border-radius: $form-border-radius;
    border-radius: $form-border-radius;
    border: $form-border-width $form-border-style $form-border-color;
    @include transition($form-transition);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
    height: $form-input-height;
    -webkit-appearance: none;
    &:required {
	    background: $form-input-bg-color url($form-input-required-icon) no-repeat right 14px center;
	    background-size:8px;
    }
    &.error {
	    background: $form-input-bg-color url($form-input-error-icon) no-repeat right 14px center;
	    background-size:16px 14px;
	    border: $form-border-width $form-border-style $form-state-error;
	    color: $form-state-error;
    }
    &.valid {
	    background: $form-input-bg-color;
	    border: $form-border-width $form-border-style $form-state-valid;
    }
}

/* Other */
textarea {
    -webkit-appearance: none;
    overflow: auto;
    padding:$form-textarea-padding;
}
input[type="range"] {
    height: $form-input-height;
    width: $form-input-width;
    max-width: $form-input-max-width;
}
input[type="file"] {
    min-height: $form-input-height;
}
input[type="search"] {
    height: $form-input-height;
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


// Select
select {
    height: $form-input-height;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: $form-select-bg-color url($form-select-dropdown-icon) no-repeat right 14px center;
    background-size:10px;
}

// States
input[disabled],
textarea[disabled],
select[disabled],
option[disabled] {
    cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,  {
    background-color: $form-focus-bg-color;
    border-color: $form-focus-border-color;
}

// Radio Buttons
.radio-wrapper {
	margin:$form-radio-container-margin;
	label {
		line-height: $form-radio-size;
		cursor: pointer;
		margin:0;
		position: relative;
		padding-left:$form-radio-size * 1.4;
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	}
	.radio-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: $form-radio-size;
		width: $form-radio-size;
		background: white;
		border:$form-radio-border-width solid $form-radio-border-color;
	}
	.radio .radio-indicator {
		@if $form-radio-fully-round == true {
	        @include border-radius(50%);
	    }
	    @else {
	        @include border-radius($form-border-radius);
	    }
	}
	.radio:hover input ~ .radio-indicator,
	.radio input:focus ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio input:checked ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio:hover input:not([disabled]):checked ~ .radio-indicator,
	.radio input:checked:focus ~ .radio-indicator {
		background: $form-radio-background-color;
	}
	.radio input:disabled ~ .radio-indicator {
		background: $disabled;
		opacity: 0.6;
		pointer-events: none;
	}
	.radio-indicator:after {
		left: 3px;
		top: 3px;
		height: $form-radio-size - 8;
		width: $form-radio-size - 8;
		@if $form-radio-fully-round == true {
	        @include border-radius(50%);
	    }
	    @else {
	        @include border-radius($form-border-radius);
	    }
	    content: '';
		position: absolute;
		display: block;
		background: $form-radio-background-color;
		@include transition($form-transition);
	}
	.radio input:checked ~ .radio-indicator:after {
		background: $form-radio-selected-color;
	}
	.radio input:disabled ~ .radio-indicator:after {
		background: $disabled;
	}
}
// Checkbox 
.checkbox-wrapper {
	margin:$form-checkbox-container-margin;
	label {
		line-height: $form-checkbox-size;
		cursor: pointer;
		margin:0;
		position: relative;
		padding-left:$form-checkbox-size * 1.4;
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
	}
	.checkbox-indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: $form-checkbox-size;
		width: $form-checkbox-size;
		background: white;
		border:$form-checkbox-border-width solid $form-checkbox-border-color;
	}
	.checkbox .checkbox-indicator {
		
	}
	.checkbox:hover input ~ .checkbox-indicator,
	.checkbox input:focus ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox input:checked ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox:hover input:not([disabled]):checked ~ .checkbox-indicator,
	.checkbox input:checked:focus ~ .checkbox-indicator {
		background: $form-checkbox-background-color;
	}
	.checkbox input:disabled ~ .checkbox-indicator {
		background: $disabled;
		opacity: 0.6;
		pointer-events: none;
	}
	.checkbox-indicator:after {
		content: '';
		position: absolute;
		display: block;
		left: 1px;
		top: 1px;
		height: $form-checkbox-size - 4;
		width: $form-checkbox-size - 4;
		background: $form-checkbox-background-color url($form-checkbox-icon) no-repeat center center;
		background-size:$form-checkbox-size - 10;
		@include transition($form-transition);
	}
	.checkbox input:checked ~ .checkbox-indicator:after {
		background: $form-checkbox-selected-color url($form-checkbox-icon) no-repeat center center;
	}
	.checkbox input:disabled ~ .checkbox-indicator:after {
		background: $disabled;
	}
}