/////////////////////////////////////////////////////////
// Notifications                                       //
/////////////////////////////////////////////////////////

// SETUP
//// Notification Bar
$notification-default-color: $primary!default;
$notification-border-width: 1px!default;
$notification-border-radius: 0!default;
$notification-padding: 10px 50px!default;
$notification-icon-size: 32px!default;
$notification-icon-position-from-edge: 10px!default;
//// Tiny marker
$notification-tiny-size:8px!default;
$notification-tiny-border-radius: 100%!default;
//// Number marker
$notification-number-text-color: $white!default;
$notification-number-size:28px!default;
$notification-number-border-radius:100%!default;
$notification-number-font-size: 14px!default;
$notification-number-font-weight: 400!default;
//// States
$states: (
	grey: $darkgrey,
	error: $error,
	warning: $warning,
	success: $success
)!default;

.notification {
	background: rgba($notification-default-color, .35);
	border:$notification-border-width solid $notification-default-color;
	position: relative;
	@include border-radius($notification-border-radius);
	padding:$notification-padding;
	display: block;
	.icon {
		//// Force height to ignore icon size classes
		width:$notification-icon-size;
		height:$notification-icon-size;
		background-size:$notification-icon-size;
		position: absolute;
		top:50%;
		margin-top:-($notification-icon-size / 2);
		left:$notification-icon-position-from-edge;
	}
	.icon.right {
		left:auto;
        right:$notification-icon-position-from-edge;
	}
	p {
		color: darken($notification-default-color, 20%);
	}
	&.tiny {
		width:$notification-tiny-size;
		height:$notification-tiny-size;
		padding:0;
		border:0!important;
		@include border-radius($notification-tiny-border-radius);
	}
	&.number {
		width:$notification-number-size;
		height:$notification-number-size;
		line-height: ($notification-number-size - 2);
		font-size: $notification-number-font-size;
		font-weight: $notification-number-font-weight;
		padding:0;
		color: $notification-number-text-color!important;
		@include border-radius($notification-number-border-radius);
		text-align: center;
	}
	@each $name, $color in $states {
		&.#{$name} {
			background: rgba($color, .35);
			border-color:$color;
			p {
				color: darken($color, 20%);
			}
			&.tiny, &.number {background:$color;}
		} 
	}
}
