<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<title>{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}</title>
		<meta name="description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}"/>
		<meta name="author" content="{{author}}"/>
		<meta name="copyright" content="Copyright {{ global.siteName }} {{ year }}. All Rights Reserved."/>
		<meta name="application-name" content="Static"/>

		<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>

		<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon.png">

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}">
		<meta itemprop="description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}">
		<meta itemprop="image" content="/share.png">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@{{global.twitter}}">
		<meta name="twitter:title" content="{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}">
		<meta name="twitter:description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}">
		<meta name="twitter:image:src" content="/share.png">

		<!-- Open Graph data -->
		<meta property="og:title" content="{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}"/>
		<meta property="og:url" content=""/>
		<meta property="og:image" content="/share.png"/>
		<meta property="og:image:url" content="/share.png"/>
		<meta property="og:description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}"/>
		<meta property="og:site_name" content="{{global.siteName}}"/>

	</head>


</head>
<body>
	<a class="sr-only focus:not-sr-only" href="#content">Skip to content</a>
	{{> layout/header }}
	{{#block "body"}}{{/block}}
	{{> layout/footer }}
	<script src="/assets/js/main.js"></script>
</body>
</html>
