<!doctype html>
<html lang="en-US" class="scroll-smooth">
<head>
	<meta charset="utf-8">
	<title>{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}</title>
	<meta name="description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}"/>
	<meta name="author" content="{{author}}"/>
	<meta name="copyright" content="Copyright {{ global.siteName }} {{ year }}. All Rights Reserved."/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="{{global.siteName}}"/>
	<meta property="og:title" content="{{#if pageTitle}}{{pageTitle}}{{else}}{{ global.pageTitle }}{{/if}}"/>
	<meta property="og:description" content="{{#if pageDescription}}{{pageDescription}}{{else}}{{ global.pageDescription }}{{/if}}"/>
	<meta property="og:url" content="{{#if pageUrl}}{{pageUrl}}{{else}}/{{/if}}"/>
	<meta property="og:image" content="/share.png"/>

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/icon.png">

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>

	<link rel="manifest" href="site.webmanifest">
	<meta name="theme-color" content="#fafafa">

</head>
<body class="bg-white dark:bg-gray-900 relative">

	
	
	<a class="sr-only focus:not-sr-only" href="#content">Skip to content</a>
	{{> layout/header }}
	{{#block "body"}}{{/block}}
	{{> layout/footer }}
	<script src="/assets/js/main.js"></script>
</body>
</html>
