<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>{{main.title}}</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
</head>
<body>

	<a class="sr-only focus:not-sr-only" href="#content">Skip to content</a>

	{{> layout/header }}
	{{#block "body"}}{{/block}}
	{{> layout/footer }}

	<script src="/assets/js/main.js"></script>
</body>
</html>
