footer {
	.trigger {
		//padding:16px 0 12px 0;
		// font-size: 16px;
		// line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom:1px solid $grey;
		.plus {display: block;}
		.minus {display: none;}
		.plus, .minus {
			top:-2px;
			position: relative;
		}
		&[aria-expanded="true"] {
			color:$primary;
			border:0;
			.plus {display: none;}
			.minus {display: block;}
		}
		&:first-child {
		}
	}
	.content {
		@include media-breakpoint-up(sm) {
			
			height: auto!important;
			max-height:100%!important;
			visibility: visible!important;
			display:block!important;
			
		}
	}
}